.row
  .col-md-2
    .well
      center
        p Activated
        p = f.check_box :status
  .col-md-4
    h6 User
    = f.select :user_id, User.pluck(:username, :id), {prompt: 'Select User'}, {class: 'form-control select2', required: true} 
    .break
  .col-md-12
    h6 Message
    = f.text_area :message, class: 'form-control', required: true  