.row
  .col-md-6
    .well
      center
        h2 Verified
        p = f.check_box :status
  .col-md-6
    .well
      center
        h2 Featured
        p = f.check_box :featured
  .col-md-2
    .cover-img
      = image_tag f.object.cover.url(:thumb)
    = f.file_field :cover
  .col-md-10
    .col-md-6
      h6 User
      = f.select :user_id, Admin.pluck(:username, :id), {prompt: 'Select User'}, {class: 'form-control select2', required: true} 
    .col-md-6
      h6 Category
      = f.select :category_id, options_for_select(CategoryBlog.roots.alfa.map{|c| [c.name, c.id]}, f.object.category_id), {prompt: 'Choice Category'}, class: 'select2 form-control', required: true
    .col-md-12
      h6 Title
      = f.text_field :title, class: 'form-control', required: true   
  .col-md-12
    h6 Description
    = f.cktext_area :description, class: 'form-control', required: true  
.break

.row
  - ['blog','video','foto'].to_a.each do |type|
    .col-md-4
      .well
        center
          h2 #{type.titleize}
          p 
            = f.radio_button :type_blog, type, class: 'check-type-blog', required: true

.row.section-video
  .col-md-12
    h3 Link Video
    hr
    = f.text_field :link_video, class: 'form-control', placeholder: 'http://youtube.com/url'
  .break

.row.section-foto
  .col-md-12
    h3 Gallery
    hr
    .setup-content
      ul.choice-gallery-form
        = f.fields_for :galleries do |g|
          = render 'gallery_fields', f: g
  .break

.row
  .col-md-12
    h6 Origin Sources
    = f.text_field :sources, class: 'form-control', placeholder: 'https://id.wikipedia.org/'
