.col-md-12
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Blogs', button_name: 'Blogs', add_method: true} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%"
                  .check_all_box 
                    = check_box_tag :check_all
                th Title
                th Type
                th Category
                th Status
                th Author
                th Created At
                th Action
            tbody
              - @collection.each_with_index do |resource, index| 
                tr
                  td 
                    = check_box_tag "ids[]", resource.id
                  td #{resource.title} #{resource.featured?}
                  td = resource.type_blog
                  td = resource.try(:category_blog).try(:name)
                  td = resource.active?
                  td = resource.try(:user).try(:username)
                  td = resource.created_at.strftime("%b, %d, %Y") if resource.created_at.present?
                  td
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
        .widget-foot
          .pull-right
            = paginate @collection 
          .clearfix
