.row
  .col-md-4
    h6 Parent
    = f.collection_select(:parent_id, Category.arrange_as_array({order: 'name'},
                          resource.possible_parents), :id, :name_for_selects, {:prompt=> "Select Upline "}, {class: "form-control"})
  .col-md-8
    h6 Name
    = f.text_field :name, class: 'form-control', required: true

