div class="col-xs-12"
  div class="breaking"
    b BREAKING : 
    = link_to @breaking.title, blog_path(@breaking)
div class="sidebar col-md-3 col-sm-3 col-xs-12"
  = render 'shareds/blogs/sidebar'
div class="col-md-9 col-sm-9 col-xs-12"
  = render 'shareds/blogs/carousel'
  .row
    = render 'shareds/blogs/tab_content'
    = render 'shareds/blogs/sideright'
