div class="col-xs-12"
  div class="breaking"
    = render_breadcrumbs
div class="col-md-8 col-sm-8 col-xs-12"
  h3 Ditemukan #{@blogs.size} Berita
  - @blogs.each_with_index do |blog, index|
    div class="list-blog list-blog-body"
      div class="row"
        div class="col-md-12 col-xs-12"
          = link_to blog_path(blog) do
            = image_tag blog.cover.url(:thumb), class: "thumb"
          time class="date"
            span class="category"
              = link_to blog.category_blog.name, category_blog_path(blog.category_blog) 
            | , <small> #{blog.created_at.strftime("%I:%M %B, %d, %Y")} </small>
          h4
            = link_to blog.title, blog_path(blog)
          p
            = truncate(strip_tags(blog.description), length: 100, omission: '...')

div class="sidebar col-md-4 col-sm-4 col-xs-12"
  = render 'shareds/blogs/sidebar'