.col-xs-12
  .breaking
    = render_breadcrumbs
.col-md-8.col-sm-8.col-xs-12
  .thumbnail
    .caption.show-blog
      h3
        = @blog.title
      p class="posted-date"
        small
          span class="category"
            | <i class="fa fa-tags"></i> &nbsp;#{link_to @blog.category_blog.name, blog_path(@blog)} &nbsp;&nbsp;
          span class="color-grey"
            | <i class="fa fa-calendar"></i> #{@blog.created_at.strftime("%I:%M %B, %d, %Y")} &nbsp;&nbsp;
          span
            | <i class="fa fa-user"></i> by #{@blog.user.username}&nbsp;&nbsp;
          span
            | <i class="fa fa-eye"></i> Sudah dilihat <strong>#{ @blog.view_count.to_i }</strong> orang

      - if @blog.blog?
        = image_tag @blog.cover.url(:medium), class: "thumb-full"
      - elsif @blog.foto?
        div class="carousel carousel-news-gallery slide article-slide" id="article-photo-carousel"
          div class="carousel-inner cont-slider"
            - @blog.galleries.available.latest_position.each_with_index do |g, index|
              div class="item #{'active' if index == 0}"
                = image_tag g.file.url(:medium)

          ol.carousel-indicators
            - @blog.galleries.available.latest_position.each_with_index do |g, index|
              li class="#{'active' if index == 0}" data-slide-to="#{index}" data-target="#article-photo-carousel"
                = image_tag g.file.url(:thumb)
      - else
        div class="embed-responsive embed-responsive-16by9"
          iframe class="embed-responsive-item" src="#{youtube_link(@blog.link_video)}"
        br

      = @blog.description.html_safe if @blog.description.present?

      - if @blog.sources.present?
        br
        | <b>Sumber Berita:</B> #{@blog.sources}
    .content
      .col-xs-12
        = render 'shareds/blogs/review'

.sidebar.col-md-4.col-sm-4.col-xs-12
  = render 'shareds/blogs/sidebar'
