.col-md-12
  .widget
    .widget-head
      .pull-left
        = "#{action_name} #{form_name}"
      .widget-icons.pull-right
        | <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
        | <a href="#" class="wclose"><i class="fa fa-times"></i></a>
      .clearfix
    .widget-content
      .padd
        = form_for [:backend, resource], method: form_method, html: {class: 'form'} do |f|
          = render partial: 'form', locals: {f: f}
          .clearfix
          .buttons
            | <button class="btn btn-sm btn-info" type="submit">Save Data</button>
        - if params[:controller] == 'backend/categories' && params[:action] == 'edit'
          - if @collection.present?
            br
            hr
            .table-responsive
              table class="table table-striped table-bordered table-hover"
                thead
                  tr
                    th width="1%" #
                    th width="20%" Name
                    th Status
                    th Sub Category
                    th width="10%" Action
                tbody
                  - @collection.each_with_index do |resource, index|
                    tr
                      td = check_box_tag "ids[]", resource.id
                      td.uppercase
                        = link_to "#{resource.name}", edit_resource_path(resource)
                      td
                        = resource.active?
                      td
                        - resource.children.each_with_index do |r, index|
                          = link_to "#{r.name}", edit_resource_path(r)
                          | ,
                      td
                        = render partial: 'backend/shareds/prepare_action',
                          locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
      .widget-foot
