.row
  = form_for :search, url: collection_path, method: 'get' do 
    .col-md-12
      h6 Find Results <b> #{collection.size} </b>
    .col-md-6
      = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..' 
    .col-md-5
      = select_tag :category, options_for_select(Category.roots.alfa.pluck(:name), params[:category]), prompt: 'Choice Category', class: 'select2 form-control'
    .col-md-1.padding0
      button class="btn btn-info" type="submit" Search