div role="tabpanel" class="tab-pane" id="store"
  .panel.panel-default
    .panel-heading
      b Tentang Toko
    .panel-body
      .row
        .col-md-12
          h6 Banner
          .banner
            = image_tag merchant_info.object.banner.url(:large), class: 'banner-image-change'
          = merchant_info.file_field :banner, class: 'banner-change-ava'
          h6 Nama Toko
          = merchant_info.text_field :title, class: 'form-control'
          h6 Tentang Toko
          = merchant_info.cktext_area :description, class: 'form-control'

  .panel.panel-default
    .panel-heading
      span Kebijakan
    .panel-body
      .row
        .col-md-12
          h6 Pembayaran
          = merchant_info.cktext_area :payment, class: 'form-control'
          h6 Pengiriman
          = merchant_info.cktext_area :shipping, class: 'form-control'
          h6 Pengembalian
          = merchant_info.cktext_area :refund_and_exchange, class: 'form-control'
          h6 Kebijakan
          = merchant_info.cktext_area :faq, class: 'form-control'
