div role="tabpanel" class="tab-pane" id="contact"
  .panel.panel-default
    .panel-heading
        b Kontak Personal
    .panel-body
      .row
        .col-md-6
          h6 Phone
          = contact.text_field :phone, class: 'form-control'
          h6 Handphone
          = contact.text_field :handphone, class: 'form-control'
          h6 Pin
          = contact.text_field :pin, class: 'form-control'
        .col-md-6
          h6 Website
          = contact.text_field :website, class: 'form-control'
          h6 Facebook
          = contact.text_field :facebook, class: 'form-control'
          h6 Twitter
          = contact.text_field :twitter, class: 'form-control'

