div role="tabpanel" class="tab-pane active" id="personal"
  .panel.panel-default
    .panel-heading
        b Data Personal
    .panel-body
      .row
        .col-md-4
          .card-avatar
            .avatar-setting
              = image_tag profile.object.avatar.url(:medium), class: 'host-profile-image image-change'
            = profile.file_field :avatar, class: 'change-ava form-control'
            .break
            small Large files: a maximum of 10,000,000 bytes (10 Megabytes) Extensions are allowed: .JPEG .JPG .PNG
        .col-md-8
          .row
            .col-md-12
              h6 Nama Lengkap
              = profile.text_field :full_name, class: 'form-control'
            .col-md-12
              h6 Tanggal Lahir
              .row
                .col-md-12
                  = profile.date_select :birthday, {start_year: (Date.today.year-100), end_year:   (Date.today.year-17), order: [:day, :month, :year], prompt: { day:   'Tanggal', month: 'Bulan', year:  'Tahun'}}, {required: true, class: 'form-control select-birthday'}
            .col-md-12
              h6 Jenis Kelamin
              .row
                - Gender.to_a.each do |g|
                  .col-xs-6
                    .well-message.padding10
                      = profile.radio_button :gender, g[1]
                      | &nbsp;
                      = g[1]
            .col-md-12
              h6 Username
              = f.text_field :username, class: 'form-control', required: true
            .col-md-12
              h6 Email
              = f.email_field :email, class: 'form-control', required: true
            .col-md-6
              h6 Kata Sandi
              = f.password_field :password, class: 'form-control'
            .col-md-6
              h6 Konfirmasi Kata Sandi
              = f.password_field :password_confirmation, class: 'form-control'
