<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>SUKABUMIPEDIA</title>
    <style type="text/css">
      a:hover { text-decoration: underline !important; }
    </style>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <table bgcolor="#E5EFF6" cellspacing="0" border="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" width="493" bgcolor="#4990E2">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18"></td>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td style="width:100%">
                            <h2 align="center" style="color:white; font-family: Arial;"><%= @setting.title %></h2>
                          </td>
                        </tr>
                        <tr>
                          <td height="40">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table bgcolor="#ffffff" cellspacing="0" border="0" align="center" cellpadding="30" width="684" style="padding: 40px 0;">
            <tr>
              <td>
                <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                  <tr>
                    <td valign="top" align="left">
                      <h3 style="font-size: 25px; font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;" align='center'>
                        Di Terima Report <%= @report.code %>
                      </h3>
                      <p style="font-size: 14px; line-height: 22px; font-family: Arial; color: #333; margin: 0px;">
                        <b>Kode Id:</b>
                        <%= @report.try(:reportable).try(:code) %><br>
                        <b>Iklan:</b>
                        <%= link_to product_url(@report.try(:reportable).try(:slug)) do %>
                          <%= @report.try(:reportable).try(:title) %>
                        <% end %>
                        <br>
                        <b>Report:</b> <%= @report.category %><br>
                        <b>Nama:</b> <%= @report.name %><br>
                        <b>Email:</b> <%= @report.email %><br>
                      </p>
                      <p style="background-color: #f5f5f5; font-size: 14px; line-height: 22px; font-family: Arial; color: #333; margin: 0px;margin-top:20px; padding:10px;">
                        <%= @report.message %>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table width="680" border="0" align="center" cellpadding="30" cellspacing="0" bgcolor="#191919">
            <tr>
              <td valign="top" width="60%">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:<%= @setting.email %>">
                    <b><%= @setting.title %> Team</b>
                  </unsubscribe><br>
                </p>
              </td>
              <td valign="top">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <%= @setting.address %><br>

                  Email.
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:<%= @setting.email %>">
                    <%= @setting.email %>
                  </unsubscribe>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
