- if @collection.blank?
  .well-message Tidak ada data ditemukan!
- else
  - @collection.each do |resource|
    - @product = resource.favoriteable
    .list-our-product
      .col-md-2.col-xs-12
        .cover
          = image_tag @product.try(:galleries).try(:first).try(:file).url(:medium)
      .col-md-10.col-xs-12
        h4 
          = link_to @product.title, product_path(@product)
          span.small.uppercase
            | &nbsp;[Id: #{@product.code}]
          = link_to '<i class="fa fa-times-circle"></i>'.html_safe, resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this"}, class: 'btn btn-xs btn-danger pull-right'
      .col-md-5.col-sm-5
        .category
          | <i class="fa fa-bookmark-o"></i> #{@product.category.titleize if @product.category.present?} &nbsp;
          | <i class="fa fa-tag"></i> #{@product.try(:parent_category).try(:name)} &nbsp;
          | <i class="fa fa-calendar"></i> #{@product.created_at.strftime("%B, %d, %Y") if @product.created_at.present?}
        span.price
          = get_currency(@product.price) if @product.price.present?
        span.small
          = @product.active?
        .break
      .col-md-5.col-sm-5
        .break
        div.small
          | Telah di lihat : 
          | <a href="#">#{@product.impressionist_count} Orang</a>
        div.small
          | Dikomentari : 
          | <a href="#">#{@product.comments.size} Komentar</a>
        div.small
          | Dijadikan Favorit : 
          | <a href="#">#{@product.favorites.size} Orang</a>

= paginate @collection