<%= f.hidden_field :reportable_id, value: resource.id %>
<%= f.hidden_field :reportable_type, value: resource.class %>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <center>
        <p>Status</p>
        <p><%= f.check_box :status %></p>
      </center>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h6>Reportable ID</h6>
    <%= f.select :reportable_id, Product.pluck(:title, :id), {prompt: 'Select Title'}, {class: 'form-control select2', required: true} %>
  </div>
  <div class="col-md-6">
    <h6>Reportable Type</h6>
    <%= f.select :reportable_type, Product.pluck(:title, :id), {prompt: 'Select Title'}, {class: 'form-control select2', required: true} %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6>Name</h6>
    <%= f.select :name, User.pluck(:username, :username), {prompt: 'Select User'}, {class: 'form-control select2', required: true} %>
  </div>
  <div class="col-md-4">
    <h6>Email</h6>
    <%= f.select :email, User.pluck(:email, :email), {prompt: 'Select User Email'}, {class: 'form-control select2', required: true} %>
  </div>
  <div class="col-md-4">
    <h6>Category</h6>
    <%= f.select :category, ReportCategory.to_a, {prompt: 'Select Category'}, {class: 'form-control'} %>
  </div>
  <div class="col-md-12">
    <h6>Message</h6>
    <%= f.text_area :message, class: 'form-control', required: true  %>
  </div>
</div>
