.col-md-12.nested-fields
  .section-pic
    .row
      .col-md-5
        .customize-slider-setting
          = image_tag f.object.file.url, id: 'view_img'
        = f.file_field :file, class: 'form-control'
      .col-md-7
        .col-md-12
          = link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'
          h6 Title
          = f.text_field :title, class: 'form-control', placeholder: 'Title'
        .col-md-6
          h6 Position
          = f.number_field :position, class: 'form-control'

