section.section-carousel
  #transition-timer-carousel class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel"
    .carousel-inner
      - @setting.galleries.each_with_index do |resource, index|
        div class=['item', "#{'active' if index == 0}"]
          = image_tag resource.file
    a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev"
      span.glyphicon.glyphicon-chevron-left
    a class="right carousel-control" href="#transition-timer-carousel" data-slide="next"
      span.glyphicon.glyphicon-chevron-right

    hr class="transition-timer-carousel-progress-bar animate"

    .main-text
      .text-center
        h1 Cari Barang Yang Anda Inginkan Disini
        p Anda yang menentukan barang yang dipilih cocok untuk anda!
        br
        = link_to products_path do
          button class="btn btn-alert btn-new"
            | Barang Baru
        button class="btn btn-or" ATAU
        = link_to products_path do
          button class="btn btn-alert btn-second"
            | Barang Bekas
        br
        = link_to '<i class="fa fa-plus-square-o"></i> Pasang Iklan'.html_safe, new_product_path, class: 'btn btn-lg btn-success'

