- user = @product.try(:user) || @user
- profile = user.try(:profile)
.panel.panel-default.chat-window
  .panel-heading
    h3 class="panel-title"
      = @user.try(:merchant_info).try(:title)
      span class="glyphicon glyphicon-remove"
      span class="glyphicon glyphicon-minus"
  .panel-body
    .break
    .row
      .col-xs-4
        = link_to image_tag(profile.avatar.url(:small)), user_path(user), class: "pull-left ava-list"
      .col-xs-8
        b
          = user.try(:username)
        .useridUser Id: #{user.try(:code)}
      .col-xs-12
        .wellcome
          p 'Hi, saya lihat bahwa anda sedang melihat listing saya, ada yang bisa saya bantu?'
      .col-xs-12
        .wellcome
          p class="last-name"
          p class="last-message"
  .panel-form
    = form_for Inquiry.new, url: create_instant_message_inquiries_path, method: 'post', html: {class: 'form-sms-instant-message'} do |f|
      - if @product.present?
        = f.hidden_field :inquiriable_id, value: @product.id
        = f.hidden_field :inquiriable_type, value: @product.class
        = f.hidden_field :owner_id, value: @product.try(:user).try(:id)
      - else
        = f.hidden_field :owner_id, value: @user.try(:id)
      - unless current_user.present?
        / = f.text_field :name, class: 'form-name', required: true, placeholder: 'name ...'
        / = f.text_field :phone, class: 'form-phone', required: true, placeholder: 'phone ...'
        = f.email_field :email, class: 'form-email', required: true, placeholder: 'email ...'
      - else
        = f.hidden_field :name, class: 'form-name', value: current_user.username
      = f.text_field :message, class: "form-chat", placeholder: 'messages ...', required: true
      button class="btn btn-chat" type="submitSend" Send
