footer.col-xs-12.footer
  .container
    .row
      .col-md-12
        ul.footer-box-list
          - @landing_pages.each do |page|
            li
              = link_to page.title, landing_page_path(page)
section.copyright
  .container
    .row
      .col-xs-12
        center
          p #{@setting.footer_tags}

= render 'shareds/sign_in'


