.modal.fade.modal-contact id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
  .modal-dialog.modal-sm
    .modal-content.modal-content-message
      .modal-header.modal-header-info
        h3 align="center" Box Message
      .modal-body.modal-sign.modal-contact-form
        = form_for Inquiry.new, url: inquiries_path, method: 'post' do |f|
          - if @product.present?
            = f.hidden_field :inquiriable_id, value: @product.id
            = f.hidden_field :inquiriable_type, value: @product.class
            = f.hidden_field :owner_id, value: @product.try(:user).try(:id)
          - else
            = f.hidden_field :owner_id, value: @user.try(:id)
          fieldset
            - unless current_user.present?
              div
                .form-group
                  label class="control-label" Name:
                  .controls
                    = f.text_field :name, class: "form-control", required: true, placeholder: 'ex. alam topani ...'
                .form-group
                  label class="control-label" Phone:
                  .controls
                    = f.text_field :phone, class: "form-control", required: true, placeholder: 'ex. +6285.2345 ...'
                .form-group
                  label class="control-label" Email:
                  .controls
                    = f.email_field :email, class: "form-control", required: true, placeholder: 'ex. alam@example.com ...'
            .form-group
              label class="control-label" Message:
              .controls
                = f.text_area :message, class: "form-control", required: true 
            .form-group
              .controls
                = f.submit 'Send Now', class: "btn btn-primary btn-block btn-success"
