.panel.panel-default
  .panel-heading
    h4.text-center.uppercase
      | Invoice <strong>#{@order.code}</strong>
    center.small
      | <b>Invoice Date : </b> 
      = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
      br
      | <b>Due Date : </b> 
      = (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
      - if current_user.admin?
        = form_for @order, url: backend_order_path(@order), method: 'put', html: {class: ''} do |f|
          = f.select :order_status_id, options_for_select(PaymentStatus.to_a, @order.order_status_id), {prompt: 'Select Status'}
          = f.submit :change, class: 'btn btn-xs btn-info'
  .panel-body
    .row
      .col-md-12
        h5.uppercase
          | Invoiced To
        = @order.try(:payer_company)
        br
        = @order.try(:payer_name)
        br
        small
          | Shipping: &nbsp;
          = @order.try(:payer_address) 
    .break
    .shopping-cart
      - @stakeholders.each do |stakeholder|
        .row
          .col-md-12
            .catalog-item-show
              .table-responsive.table-order-list
                table class="table table-striped"
                  thead
                    tr
                      td width="35%"
                        | <strong>Order From Store <a href="#{user_path(stakeholder.user)}">#{stakeholder.user.merchant_info.title.titleize}</a></strong>
                      td class="text-center"
                        | <strong>Quantity</strong>
                      td class="text-center"
                        | <strong>Weight</strong>
                      td class="text-center"
                        | <strong>Size</strong>
                      td width="14%" class="text-right"
                        | <strong>Item Price</strong>
                  tbody
                    - stakeholder.order_items.each do |order_item| 
                      tr
                        td
                          .avatar-author
                            = image_tag order_item.try(:product).try(:galleries).try(:first).try(:file).url(:medium)
                          small.uppercase
                            | Id #{@order.code} <br>
                          = link_to "#{order_item.product.title}", product_path(order_item.product.slug), class: 'title-product'
                        td.text-center
                          span
                            = order_item.quantity
                        td.text-center
                          | #{order_item.weight.to_i} Gram
                        td.text-center
                          span
                            = order_item.o_size
                            = 'All Size' if order_item.o_size.blank?
                        td.text-right
                          span
                            = get_currency(order_item.total_price)
                    tr
                      td class="highrow"
                      td class="highrow"
                      td class="highrow"
                      td class="highrow text-center"
                        | <h5>Total Price Shopping</h5>
                      td class="highrow text-right"
                        | <h5>#{get_currency(stakeholder.price_order)}</h5>
                    tr
                      td class="highrow"
                      td class="highrow"
                      td class="highrow"
                      td class="highrow text-center"
                        | <h5>Shipping #{@order.shipping_method.upcase}</h5>
                        | <small><b>From:</b> #{stakeholder.get_owner_origin_city} - <b>To:</b> #{@order.try(:payer_address)}</small>
                        - if current_user.admin?
                          = form_for stakeholder, url: change_status_shipping_backend_order_path(stakeholder), method: 'put', html: {class: ''} do |f|
                            = f.select :track_order, options_for_select(TrackOrder.to_a, stakeholder.track_order), {prompt: 'Status Track Order'}
                            = f.submit :change, class: 'btn btn-xs btn-info'
                      td class="highrow text-right"
                        | <h5>#{get_currency(stakeholder.total_shipping_price) if stakeholder.total_shipping_price.present?}</h5>
                    tr
                      td class="highrow"
                      td class="highrow"
                      td class="highrow"
                      td class="highrow text-center"
                        | <h5>TOTAL</h5>
                      td class="highrow text-right"
                        | <h5>#{get_currency(stakeholder.total_price)}</h5>

      h4 Transaction
      .table-responsive.table-order-list
        table class="table table-striped"
          thead
            tr
              td class="text-center" width="20%"
                | <strong>Transaction Date</strong>
              td class="text-center" width="20%"
                | <strong>Payer</strong>
              td class="text-center"
                | <strong>Payment To</strong>
              td class="text-center"
                | <strong>Payment Status</strong>
              - unless params[:controller] == 'userpage/order_items'
                td width="14%" class="text-center"
                  | <strong>Total Payment</strong>
          tbody
            tr
              td.text-center
                span
                  = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
              td.text-center
                span
                  = @order.try(:payer_name)
              td.text-center
                span
                  = @order.try(:paymentTo)
              td.text-center
                span
                  = @order.status?
              - unless params[:controller] == 'userpage/order_items'
                td.text-center
                  span
                    b
                      = get_currency(@order.total_payment?)

      h4 Shipping
      .table-responsive.table-order-list
        table class="table table-striped"
          thead
            tr
              td class="text-center" width="15%"
                | <strong>Receiver</strong>
              td class="text-center" width="25%"
                | <strong>Shipping Method</strong>
              td class="text-center" width="10%"
                | <strong>Phone</strong>
              td class="text-center"
                | <strong>Shipping Address</strong>
          tbody
            tr
              td.text-center
                span
                  = @order.try(:payer_name)
              td.text-center
                span
                  = @order.try(:shipping_method).upcase
                  br
                  - if @order.jne?
                    | Layanan Reguler (RE)
                  - elsif @order.pos?
                    | Surat Kilat Khusus
              td.text-center
                span
                  = @order.try(:payer_phone)
              td.text-center
                span
                  = @order.try(:payer_address)