.modal.modal-report.fade#modal-report tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
  .modal-dialog
    .modal-content
      .box-modal-report
        .report-header
          | Subyek Apa Yang Akan Kamu Laporkan?
        .report-body
          = form_for Report.new, url: reports_path, method: 'post' do |f|
            = f.hidden_field :reportable_id, value: resource.id
            = f.hidden_field :reportable_type, value: resource.class
            .form-group
              h5.pull-left
                | Kategori
              = f.select :category, ReportCategory.to_a, {prompt: 'Pilih Kategori'}, {class: 'form-control'}
            .row
              .col-md-6
                h5.pull-left
                  | Name
                = f.text_field :name, value: "#{current_user.username if current_user.present?}", class: "form-control", placeholder: 'ex. Alam Topani', required: true

              .col-md-6
                h5.pull-left
                  | Email
                = f.email_field :email, class: "form-control", value: "#{current_user.email if current_user.present?}", placeholder: 'ex. mail@example.com', required: true

              .col-md-12
                h5.pull-left
                  | Pesan
                = f.text_area :message, class: "form-control", placeholder: 'Informasi apa yang salah?', required: true

              .col-md-12
                .break
                input.btn.btn-success.btn-modal-submit type="submit" value="Kirim Laporan"

