= favicon_link_tag "#{@setting.favicon.url(:thumb)}"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"

- if params[:controller] == 'products' && params[:action] == 'show'
  - @title = "#{@product.title}"
  - @url = "#{product_url(@product)}"
  title
    = @title
  meta name="author" content="#{@product.user.username rescue nil}"
  meta name='keywords' content="#{@product.title}, #{@product.try(:category).try(:name)}"
  meta name="description" content="#{@product.description}"
  meta property="og:title" content="#{@title}"
  meta property="og:type" content="website"
  meta property="og:site_name" content="#{@url}"
  meta property="og:url" content="#{@url}"
  meta property="og:image" content="#{image_url @product.try(:galleries).try(:oldest).try(:first).try(:file).url(:medium) rescue nil }"
  meta property="og:description" content="#{@title}"
  meta property="article:publisher" content="#{@setting.facebook}"
  meta name="twitter:card" content="summary"
  meta name="twitter:url" content="#{@url}"
  meta name="twitter:title" content="#{@title}"
  meta name="twitter:description" content="#{@title}"
  meta name="twitter:creator" content="#{@product.user.username rescue nil}"
  meta name="twitter:image:src" content="#{image_url @product.try(:galleries).try(:oldest).try(:first).try(:file).url(:medium) rescue nil }"
- else
  title
    = @setting.title
  meta content="#{@setting.author}" name='author'
  meta content="#{@setting.keywords}" name='keywords'
  meta content="#{@setting.description}" name="description"

meta content="#{@setting.robot}" name='robots'
meta content="#{@setting.corpyright}" name='copyright'
meta content="#{@setting.revisit}" name='revisit'
meta content="#{@setting.expires}" name='expires'
meta content="#{@setting.revisit_after}" name='revisit-after'
meta content="#{@setting.geo_placename}" name='geo.placename'
meta content="#{@setting.language}" name='language'
meta content="#{@setting.country}" name='geo.country'
meta content="#{@setting.content_language}" http-equiv='Content-Language'
meta content="#{@setting.distribution}" name='distribution'
meta content="#{@setting.generator}" name='generator'
meta content="#{@setting.rating}" name='rating'
meta content="#{@setting.target}" name='target'
meta content='true' name='MSSmartTagsPreventParsing'
meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
meta content='index, follow' name='googlebot'
meta content='follow, all' name='Googlebot-Image'
meta content='follow, all' name='msnbot'
meta content='follow, all' name='Slurp'
meta content='follow, all' name='ZyBorg'
meta content='follow, all' name='Scooter'
meta content='all' name='spiders'
meta content='all' name='WEBCRAWLERS'
meta content='noodp' name='robots'
meta content='noydir' name='robots'
meta content="#{@setting.robot}" name='search engines'