= form_for :search, url: products_path(params), method: 'get', html: {class: 'form-action-search'} do
  div id='top-navigation'
    nav.navbar-default
      .container
        .row
          .col-md-12
            .navbar-header
              button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs"
                span class="sr-only">Toggle navigation
                span class="icon-bar"
                span class="icon-bar"
                span class="icon-bar"
              = link_to "<h1>#{image_tag @setting.logo.url(:small)}</h1>".html_safe, root_path, class: "navbar-brand"
            .collapse.navbar-collapse id="bs-megadropdown-tabs"
              ul.nav.navbar-nav.top-menu
                li class="dropdown mega-dropdown"
                  a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    | Kategori <i class='fa fa-angle-down pull-right'></i> 
                  ul class="dropdown-menu mega-dropdown-menu row"
                    .col-sm-12
                      h3.h-all-categories KATEGORI SEMUA IKLAN
                      hr
                    - @categories.each do |category|
                      li.col-sm-3
                        ul
                          li
                            = link_to "#{image_tag category.file.url(:thumb)} #{category.name}".html_safe, products_path(params.merge(category: category.name))
                    .col-sm-12
                      .all-categories 
                        = link_to 'Lihat Semua Kategori', products_path
                li class="dropdown"
                  = link_to 'Blog', blogs_path
              div class= 'form-top-search navbar-form navbar-left'
                .input-group
                  = text_field_tag :key, nil, class: 'form-control', placeholder: 'Cari Berdasarkan Judul/Nama Toko...'
                  .input-group-btn
                    button class="btn btn-success" type="submit"
                      i class="fa fa-search"
              ul class="nav navbar-nav navbar-right nav-account"
                li
                  = link_to 'Bantuan <i class="fa fa-question-circle"></i>'.html_safe, products_path
                - unless current_user
                  li
                    = link_to 'Daftar', new_user_registration_path
                  li
                    a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"
                      | <i class='fa fa-key'></i> Masuk 
                - else
                  li
                    a.dropdown-toggle.dropdown-toggle-new data-toggle="dropdown"
                      div class="message-btn"
                        span.fa.fa-envelope-o
                        | &nbsp;<span class="count-inbox">#{@latest_inquiries.size}</span>
                    ul.dropdown-menu.dropdown-menu-message
                      = render 'shareds/list_message'
                  li.dropdown
                    a href="#" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown"
                      .thumb-avatar
                        = image_tag current_user.profile.avatar.url(:thumb)
                      span 
                        | <i class="fa fa-caret-down"></i>
                    ul class="dropdown-menu" role="menu"
                      li
                        = link_to '<i class="fa fa-home"></i> Beranda'.html_safe, userpage_dashboard_path
                      li
                        = link_to '<i class="fa fa-file-image-o"></i> Iklan Anda'.html_safe, userpage_products_path
                      li
                        = link_to '<i class="fa fa-heart-o"></i> Iklan Favorit'.html_safe, userpage_favorites_path
                      li
                        = link_to '<i class="fa fa-wrench"></i> Pengaturan'.html_safe, user_edit_url(current_user.type, current_user)
                      li
                        = link_to '<i class="fa fa-mail-reply"></i> Keluar'.html_safe, destroy_user_session_path, method: 'delete'
  = flash_messages

  - if params[:action] == 'home'
    = render 'shareds/carousel'
  - if params[:controller] == 'products' && params[:action] == 'index' || params[:action] == 'home'
    = render 'shareds/home/categories'
  - if params[:controller] == 'products' && params[:action] == 'index'
    section.section-breadcrumb.white.shadow
      .container
        .row
          .col-md-12
            .row
              .col-md-3.breadcrumb
                = render_breadcrumbs
              .col-md-9
                span.title-content-product
                  | Ditemukan <b>#{@product_all.size}</b> Iklan
              = render 'shareds/products/simple_search'

              