.container
  .col-md-12
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    .well
      h4 align= 'center' Statistik Visitor
    = column_chart Visit.per_year.group_by_month(:started_at, format: "%b %Y").count
    br
    ul.today-datas.display-center
      li
        div class="datas-text"
          b = Visit.count_today
          br visitors Today
      li
        div class="datas-text"
          b = Visit.count_week
          br Visitors This Week
      li
        div class="datas-text"
          b = Visit.count_month
          br Visitor This Month
      li
        div class="datas-text"
          b = Visit.count_year
          br Visitor This Year
      li
        div class="datas-text"
          b = Visit.count
          br Visitors till date





