.page-body
  .row
    - CategoryProduct.to_a.each do |c|
      .col-md-6
        .well
          center
            h2 #{c[1].titleize}
            p = f.radio_button :category, c[1]
    .col-md-12
      h6 Judul Iklan
      = f.text_field :title, class: 'form-control', required: true, id: 'popover-title'
    .col-md-6
      h6 Harga
      = f.number_field :price, class: 'form-control', placeholder: 'ex. 10000000', required: true, id: 'popover-price'
    .col-md-6
      h6 Kategori
      = f.select :category_id, options_for_select(Category.roots.alfa.map{|c| [c.name, c.id]}, f.object.category_id), {prompt: 'Pilih Kategori Iklan'}, class: 'select2 form-control choice-category-select', 'data-node' => "#{f.class.to_s.downcase}", required: true
    .col-md-6
      h6 Sub Kategori
      .sub-category-container
        - sub_categories = Category.find(f.object.category_id).try(:children).alfa.map{|c| [c.name, c.id]} rescue []
        = f.select :sub_category_id, options_for_select(sub_categories, f.object.sub_category_id), {prompt: 'Pilih Sub Kategori'}, class: 'select2 form-control choice-sub-category-select', 'data-node' => "#{f.class.to_s.downcase}", required: true
    .col-md-6
      h6 Merek
      .brand-container
        - brands = Category.find(f.object.sub_category_id).try(:children).alfa.map{|c| [c.name, c.id]} rescue []
        = f.select :brand_id, options_for_select(brands, f.object.brand_id), {prompt: 'Pilih Merek'}, class: 'select2 form-control'

.page-body
  .row
    .col-md-12
      h6 Tentang Iklan
      = f.text_area :description, class: 'form-control',required: true, id: 'popover-description', rowspan: '30'

.page-body
  .row
    .col-md-12
      h4 Gambar Iklan
      hr
      .setup-content
        .info-desc-gallery-form
          | Tambah foto dan dapatkan&nbsp;
          strong respon 5X
          | &nbsp;lebih banyak dari pengujung kepada iklan yang anda pasang!

        ul.choice-gallery-form.choice-gallery-form-front
          = f.fields_for :galleries do |g|
            = render 'gallery_fields', f: g
  .break

.page-body
  .row
    .col-md-12
      = f.fields_for :address do |address|
        = render 'form_address', address: address
  .break

