.list-our-product
  .col-md-2.col-sm-2.col-xs-12
    .cover
      = image_tag resource.try(:galleries).with_deleted.try(:first).try(:file).url(:medium)
  .col-md-10.col-sm-10.col-xs-12
    h4
      = link_to resource.title, product_path(resource)
      span.small.uppercase
        | &nbsp;[Id: #{resource.code}]
      = link_to '<i class="fa fa-undo"></i> restore'.html_safe, restore_userpage_product_path(resource), class: 'btn btn-xs btn-success pull-right' if params[:action] == 'archive'
      = link_to '<i class="fa fa-wrench"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-info pull-right' unless params[:action] == 'archive'
      = link_to '<i class="fa fa-times-circle"></i>'.html_safe, resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this"}, class: 'btn btn-xs btn-danger pull-right' unless params[:action] == 'archive'
  .col-md-5.col-sm-5.col-xs-12
    .category
      | <i class="fa fa-bookmark-o"></i> #{resource.category.titleize if resource.category.present?} &nbsp;
      | <i class="fa fa-tag"></i> #{resource.try(:parent_category).try(:name)} &nbsp;
      | <i class="fa fa-calendar"></i> #{resource.created_at.strftime("%B, %d, %Y") if resource.created_at.present?}
    span.price
      = get_currency(resource.price) if resource.price.present?
    span.small
      = resource.active?
  .col-md-5.col-sm-5.col-xs-12
    div.small
      | Telah di lihat :&nbsp;
      | <a href="#">#{resource.impressionist_count} Orang</a>
    div.small
      | Dikomentari :&nbsp;
      | <a href="#">#{resource.comments.size} Komentar</a>
    div.small
      | Dijadikan Favorit :&nbsp;
      | <a href="#">#{resource.favorites.size} Orang</a>
