.row
  .col-md-12
    .section-menu-user-child
      ul
        li = link_to '<i class="fa fa-plus-square"></i> Buat Iklan'.html_safe, new_resource_path, class: "#{active_sidebar_active?(:products, :new)}" 
        li = link_to 'Iklan Tayang', userpage_products_path, class: "#{active_sidebar_active?(:products, :index)}" 
        li = link_to 'Iklan Belum Tayang', pending_userpage_products_path, class: "#{active_sidebar_active?(:products, :pending)}" 
        li = link_to 'Arsip', archive_userpage_products_path, class: "#{active_sidebar_active?(:products, :archive)}" 
