= render 'userpage/products/product_menu'
.row
  .col-md-12
    small <b> #{@products.size} </b> Iklan di Temukan
  .col-md-10
      = form_for :search, url: archive_userpage_products_path, html: {class: 'simple-search'}, method: 'get' do
        = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kata Pencarian..'
  .mg-input-search
  .col-md-2
    = link_to '<i class="fa fa-plus-square"></i> Buat Iklan'.html_safe, new_resource_path, class: 'btn btn-info pull-right'
.break

- if @collection.blank?
  .well-message Tidak ada data yang ditemukan!
- else
  - @collection.each do |resource|
    = render 'userpage/products/list', resource: resource

= paginate @collection
