= render 'userpage/products/product_menu'
.well-message
  .row
    .col-md-12
      small <b> #{@products.size}</b> Iklan di Temukan
    .col-md-12
        = form_for :search, url: collection_path, html: {class: 'simple-search'}, method: 'get' do
          = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kata Pencarian..'
.break

- if @collection.blank?
  .well-message Tidak ada data yang ditemukan
- else
  - @collection.each do |resource|
    = render 'userpage/products/list', resource: resource

= paginate @collection
