.cover-banner
  = image_tag @user.merchant_info.banner.url if @user.merchant?
  .like-button
    - if current_user
      = link_to "#{@user.score} Suka <i class='fa fa-thumbs-up'></i>".html_safe, upvote_user_path(@user), class: "btn btn-danger full-width"
    - else
      a href="#signin" class= "btn btn-danger full-width" data-toggle="modal" data-target=".bs-modal-sm"
        = @user.score
        | &nbsp; Suka <i class='fa fa-thumbs-up'></i>


.cover-information-user
  .cover-user-one
    .info-user-left
      .box-avatar-user
        .avatar-user
          = image_tag @user.profile.avatar.url(:small)
      .description
        .username
          = @user.try(:profile).try(:full_name)
        span.verified
          = @user.verified?
        .start-join
          | Bergabung Sejak :&nbsp;
          = @user.created_at.strftime("%d %B %Y")

    .info-user-right
      .share-this
        | Bagikan ini :
        br
        .break
        | <span class='st_facebook' displayText='Facebook'></span><span class='st_twitter' displayText='Tweet'></span><span class='st_email' displayText='Email'></span>

      .action-contact
        a
          .btn.btn-contact-user.btn-lg.btn-question-chat
            | Kontak Pengiklan
    .info-user-right-bottom
      .impresionist
        br
        .break
        .fa.fa-eye
        | Telah dilihat #{@user.impressionist_count} Orang
      .impresionist
        br
        .break
        .fa.fa-heart-o
        | Difavoritkan #{@favorites_size} Orang
  .cover-user-second
    .info-location-left
      .box-location
        i.fa.fa-map-marker
        span
          = @user.try(:address).try(:place_info)
      .box-location
        i.fa.fa-globe
        a href="#{request.original_url}"
          = request.original_url

    .info-desc-social
      .info-sharethis
        .box-contact
          .box-icon
            .icon
              = image_tag 'icon/bbm.png'
          .box-body-contact
            .phone
              = @user.try(:contact).try(:pin)
            .desc
              | PIN BBM

      .info-contact
        .box-contact
          .box-icon
            .icon
              = image_tag 'icon/phone.png'
          .box-body-contact
            .phone
              = @user.try(:contact).try(:phone)
            .desc
              | Nomor Telepon
