.side-filter-search
  .col-md-12.section-search-filter
    = form_for :search, url: user_path(params[:id]), method: 'get' do |f|
      h5 Pencarian
      = text_field_tag :key, params[:key], class: 'form-control', placeholder: 'Kata Pencarian ...'

.sidebar-show
  .row
    .col-md-12
      h3.title
        | Informasi Penjual
      div
        = link_to "<i class='fa fa-home'></i> #{@user.try(:profile).try(:full_name)}".html_safe, root_path
      .break
      div
        - if @user.merchant?
          small = @user.merchant_info.description.html_safe if @user.merchant_info.description.present?
