section
  .container
    .row
      .col-md-12.breadcrumb
        = render_breadcrumbs
      .col-md-12
        = render 'users/author'

section.white.shadow
  .container
    .row     
      .col-md-3
        = render 'users/sidebar'
      .col-md-9
        = render 'users/list_products'
= render 'shareds/form_contact'
= render "shareds/chat" if @user.present?