<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <fieldset>
    <div class="form-group margin-top10">
      <div class="col-xs-12">
        <h2 align="center">Change your password</h2>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="password">New password:</label>
      <div class="controls">
        <%= f.password_field :password, class: "form-control password", required: true %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="reenterpassword">Confirm new password:</label>
      <div class="controls">
        <%= f.password_field :password_confirmation, class: "form-control password", required: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <%= f.submit 'Change my password',  class: "btn btn-lg btn-primary btn-block medium-font" %>
      </div>
    </div>
    <div class="form-group">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  </fieldset>
<% end %>
