ul class="nav nav-tabs" role="tablist"
  li role="presentation" class="active"
    | <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Data Personal</a></li>
  li role="presentation"
    | <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Kontak Personal</a></li>
  li role="presentation"
    | <a href="#store" aria-controls="store" role="tab" data-toggle="tab">Tentang Toko</a></li>
  li role="presentation"
    | <a href="#address" aria-controls="address" role="tab" data-toggle="tab">Alamat</a></li>

= f.fields_for :profile do |profile|
  = f.fields_for :address do |address|
    = f.fields_for :contact do |contact|
      = f.fields_for :merchant_info do |merchant_info|
        .tab-content
          = render partial: 'userpage/users/form_user', locals: {f: f, profile: profile}
          = render partial: 'userpage/users/form_merchant_info', locals: {merchant_info: merchant_info}
          = render partial: 'userpage/users/form_address', locals: {address: address}
          = render partial: 'userpage/users/form_contact', locals: {contact: contact}
