section.maps#maps
section.information-contact
  .container
    .row
      .col-md-6
        .row
          = form_for GuestBook.new, url: guest_books_path, method: 'post' do | f |
            .col-md-12
              label
                | Name
                sup *
              = f.text_field :name, class: 'form-control', placeholder: 'Your Name'
              .break

            .col-md-12
              label
                | Email
                sup *
              = f.text_field :email, class: 'form-control', placeholder: 'yourmail@mail.com'
              .break

            .col-md-12
              label
                | Phone
                sup *
              = f.text_field :phone, class: 'form-control', placeholder: 'E.X: 0857324343433'
              .break

            .col-md-12
              label
                | Description
                sup *
              = f.text_area :description, class: 'form-control', placeholder: 'Description'
              .break

            .col-md-12
              label
              = submit_tag :submit, class: 'btn btn-primary btn-sm'


      .col-md-6
        h3 #{@setting.title}
        p
          = @setting.address
        p
          | Phone : #{@setting.contact}
        p
          | Email : <a href="#{@setting.email}">#{@setting.email}</a>
