h3 User Account
hr
.row
  .col-md-6
    .row
      .col-md-4
        br
        .well
          center
            h6 Verified
            = f.check_box :verified
      .col-md-8
        h6 Email
        = f.email_field :email, class: 'form-control', required: true
        h6 Username
        = f.text_field :username, class: 'form-control', required: true
    h6 Password
    = f.password_field :password, class: 'form-control'
    h6 Password Confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  .col-md-6
    h6 Avatar
    .user
      = image_tag profile.object.avatar.url(:medium), style: 'width: 200px'
    = profile.file_field :avatar
.break
h3 Profile
hr
.row
  .col-md-6
    h6 Full Name
    = profile.text_field :full_name, class: 'form-control'
    h6 Birthday
    = profile.date_select :birthday, {start_year: (Date.today.year-100),end_year:   (Date.today.year-17), order: [:day, :month, :year],
              prompt: {day:   'Tanggal', month: 'Bulan', year:  'Tahun'}},
              {required: true, class: 'form-control select-birthday'}
    h6 Gender
    = profile.select :gender, Gender.to_a, {prompt: 'Select Category'}, {class: 'form-control'}
  .col-md-6
    h6 Meta Title
    = profile.text_field :meta_title, class: 'form-control'
    h6 Meta Keyword
    = profile.text_field :meta_keywords, class: 'form-control'
    h6 Meta Description
    = profile.text_field :meta_description, class: 'form-control'

