h3 Merchant Info
hr
.row
  .col-md-12
    h6 Banner
    .banner
      = image_tag merchant_info.object.banner.url(:large)
    = merchant_info.file_field :banner
    h6 Title
    = merchant_info.text_field :title, class: 'form-control'
    h6 About Merchant
    = merchant_info.cktext_area :description, class: 'form-control'
.break
h3 Policies
hr
.row
  .col-md-12
    h6 Payment
    = merchant_info.cktext_area :payment, class: 'form-control'
    h6 Shipping
    = merchant_info.cktext_area :shipping, class: 'form-control'
    h6 Refund and Exchange
    = merchant_info.cktext_area :refund_and_exchange, class: 'form-control'
    h6 Faq
    = merchant_info.cktext_area :faq, class: 'form-control'
