h3 Address
hr
.row
  .col-md-6
    h6 City
    = address.select :city, options_for_select(Region.roots.alfa.pluck(:name)), {prompt: 'Choice City'}, class: 'select2 form-control cities_select','data-node' => "#{resource.class.to_s.downcase}"
  .col-md-6
    h6 District
    - districts = address.object.district ? Region.find_by(name: address.object.city).try(:children).pluck(:name) || [] : Region.none rescue []
    .district-container
      = address.select :district, options_for_select(districts), {prompt: 'Choice District'}, class: 'select2 form-control district_select', 'data-node' => "#{resource.class.to_s.downcase}"
  .col-md-6
    h6 Village
    - villages = address.object.village ? Region.find_by(name: address.object.district).try(:children).pluck(:name) || [] : Region.none rescue []
    .village-container
      = address.select :city, options_for_select(villages), {prompt: 'Choice Village'}, class: 'select2 form-control'
  .col-md-6
    h6 Postcode
    = address.text_field :postcode, class: 'form-control'
  .col-md-12
    h6 Address
    = address.text_field :address, class: 'form-control'
  .col-md-6
    h6 Longitude
    = address.text_field :longitude, class: 'form-control'
  .col-md-6
    h6 Latitude
    = address.text_field :latitude, class: 'form-control'
