.col-md-12
  = render 'backend/shareds/search_form_user'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Subscribes', button_name: 'Subscribes', add_method: true} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%"
                  .check_all_box 
                    = check_box_tag :check_all
                th Email
                th Status
                th Created At
              - @collection.each_with_index do |resource, index| 
                tr 
                  td = check_box_tag "ids[]", resource.id 
                  td = resource.try(:email) 
                  td = resource.status?
                  td = resource.try(:created_at).strftime("%H:%M %B, %d, %Y") 
                  td 
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
        .widget-foot
          .pull-right
            = paginate @collection 
          .clearfix
