.well-message.padding10
  h4 align='center'
    | Pesan (#{@inquiries.size})
.break
- if @collection.present?
  - @collection.each do |resource| 
    .well-message
      .col-sm-2
        center
          .user-image-cycle.float-none.margin-none
            - if resource.user_id.present? 
              = image_tag resource.try(:user).try(:profile).try(:avatar).url(:thumb), class: 'host-profile-image' 
            - else 
              = image_tag "no-image.png", class: 'host-profile-image' 
          br
          | <small class="text-muted"><b>#{resource.name}</b></small>
      .col-sm-10
        .row
          .col-xs-12
            p.p-message
              small
                | <b>Subyek:</b> #{resource.subject?}
              br
              .well
                = resource.reply(current_user.id) 
                | &nbsp; #{link_to "#{resource.message}", resource_path(resource)}
          .col-xs-9
            small.text-muted
              | <i class="fa fa-user"></i>
              | &nbsp;<a href="mailto:#{resource.email}">#{resource.email}</a>&nbsp;
              | <i class="fa fa-mobile"></i> #{resource.phone} 
              br
              | Dikirim #{resource.try(:created_at).strftime("%H:%M %B, %d, %Y")} 
          .col-xs-3
            small.pull-right
              = link_to '<i class="fa fa-times-circle"></i> Hapus'.html_safe, resource_path(resource), method: 'delete', data: {confirm: "Apakah anda akan menghapus #{resource.id}"}
          .col-xs-12
            hr
    .break
  = paginate @collection
- else
  p.alert.alert-danger align='center'
    | Tidak ada pesan baru!