.page-body
  .row.section-comments-group
    .col-sm-3
      center
        .user-image-cycle.float-none.margin-none
          - if resource.user_id.present? 
            = image_tag resource.try(:user).try(:profile).try(:avatar).url(:thumb), class: 'host-profile-image' 
          - else 
            = image_tag "no-image.png", class: 'host-profile-image' 
        br
        | <span class="text-muted"><b>#{resource.name}</b></span>
    .col-sm-9
      .row
        .col-xs-12
          p.p-message
            small
              | <b>Subject:</b> (#{resource.subject?})
            br
            .well
              = resource.message 
        .col-xs-12
          small.text-muted
            | <i class="fa fa-user"></i>
            | &nbsp;<a href="mailto:#{resource.email}"> #{resource.email}</a>&nbsp;
            | <i class="fa fa-mobile"></i> #{resource.phone} 
            br
            | Sent at #{resource.try(:created_at).strftime("%H:%M %B, %d, %Y")}
        .col-xs-12
          hr
        - if resource.user_id.present? 
          = render 'shareds/messages/form_reply_message', resource: resource
  = render 'shareds/messages/list_reply_messages' 
