/*Optional Custom*/
body .bootstrap-tagsinput {
	width: 100%;
}
i{
  margin: 0 5px;
}
.thumb{
	border: solid 1px #ccc;
	padding: 2px;
	width: 65px;
}
.alert{
	margin-bottom: 0!important;
}
.break{
	width: 100%;
	height: 20px;
	float: left;
}
.uppercase{
  text-transform: uppercase;
}
.padding0{
  padding: 0!important;
}
.padding-left0{
  padding-left: 0!important;
}
.full-width{
  width: 100%;
}
.margin0{
  margin: 0!important;
}
header .header-data .hdata{
  width: 100px;
}
.amenity{
  display: none;
}
.uppercase{
  text-transform: uppercase;
}
.white{
  background: #fff;
}
.select2-container--default .select2-selection--single{
  border: solid 1px #ccc!important;
}
.select2-container .select2-selection--single{
  height: 32px!important;
}
.region-based .city-container, .region-based .sub-district-container{
  margin: 8px 0;
}
.region-based .select2-container{
  width: 100%!important;
}
.section-pic{
  width: 100%;
  float: left;
  padding: 15px;
  padding-bottom: 20px;
  background: #f5f5f5;
  border: solid 1px #ccc;
  margin-bottom: 10px;
}
.select2-container{
  width: 100%!important;
}
.select-birthday{
  width: 33%;
  float: left;
}

/*Setup Content Gallery*/
.setup-content .choice-gallery-form{
  list-style: none;
  padding-left: 0;
}
.setup-content .choice-gallery-form li{
  width: 16.6%;
  float: left;
  border: solid 1px #ccc;
  padding: 2px;
  height: 150px;
  position: relative;
}
.setup-content .choice-gallery-form img{
  width: 100%;
  height: 100%;
}
.setup-content .choice-gallery-form .input-file{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.setup-content .choice-gallery-form li.overview{
  width: 50%!important;
  height: 120px!important;
  position: relative;
}
.setup-content .choice-gallery-form li.overview span{
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 5px;
  left: 5px;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.basic-form{
  display: none;
}
.btn-color-box{
  margin-right: 4px;
  margin-bottom: 4px;
  float: left;
  text-align: left;
}
.btn-color-box input{ 
  margin-right: 4px;
}
.banner{
  height: 300px;
  width: 100%;
  overflow: hidden;
  border: solid 1px #ccc;
}
.banner img{
  width: 100%;
}
.avatar-author{
  width: 60px;
  padding: 0!important;
  border: solid 2px #ccc;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.avatar-author img {
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
table, table tr td{
  border: solid 1px #ddd;
  font-size: 12px;
}
.display-center{
  width: auto;
  margin: auto;
  display: table;
}
.cover-img{
  border: solid 1px #ccc;
}
.cover-img img{
  width: 100%;
}
.thumb-ads{
  width: 60px;
}
.section-video, .section-foto{
  display: none;
}
