.row
  .col-md-12
    .row
      - CategoryProduct.to_a.each do |c|
        .col-md-6
          .well
            center
              h2 #{c[1].titleize}
              p = f.radio_button :category, c[1]
      .col-md-6
        h6 User
        = f.select :user_id, User.pluck(:username, :id), {prompt: 'Select User'}, {class: 'form-control select2', required: true} 
      .col-md-6
        h6 Price
        = f.text_field :price, value: resource.basic_price, class: 'form-control', required: true, placeholder: 'ex. 10000000', data: {autonumeric: true}
      .col-md-4
        h6 Category
        = f.select :category_id, options_for_select(Category.roots.alfa.map{|c| [c.name, c.id]}, f.object.category_id), {prompt: 'Pilih Kategori'}, class: 'select2 form-control choice-category-select', 'data-node' => "#{resource.class.to_s.downcase}", required: true
      .col-md-4
        h6 Sub Category
        .sub-category-container
          - sub_categories = Category.find(resource.category_id).try(:children).alfa.map{|c| [c.name, c.id]} rescue []
          = f.select :sub_category_id, options_for_select(sub_categories, resource.sub_category_id), {prompt: 'Pilih Sub Kategori'}, class: 'select2 form-control choice-sub-category-select', 'data-node' => "#{resource.class.to_s.downcase}", required: true
      .col-md-4
        h6 Brand
        .brand-container
          - brands = Category.find(resource.sub_category_id).try(:children).alfa.map{|c| [c.name, c.id]} rescue []
          = f.select :brand_id, options_for_select(brands, resource.brand_id), {prompt: 'Pilih Merek'}, class: 'select2 form-control'
      .col-md-12
        h6 Title
        = f.text_field :title, class: 'form-control', required: true 
      .col-md-12
        h6 Description
        = f.cktext_area :description, class: 'form-control', required: true
      .col-md-6
        br
        .well
          center
            p Featured
            p = f.check_box :featured
      .col-md-6
        br
        .well
          center
            p Published
            p = f.check_box :status
.row
  .col-md-12
    h3 Gallery
    hr
    .setup-content
      ul.choice-gallery-form
        = f.fields_for :galleries do |g|
          = render 'gallery_fields', f: g
.break

.row
  .col-md-12
    = f.fields_for :address do |address|
      = render 'form_address', address: address
.break


