.col-md-12
	= render 'backend/shareds/search_form_product'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Products', button_name: 'Product', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th width="1%"
									.check_all_box 
										= check_box_tag :check_all
								th Product Id
								th Status
								th Image
								th Title
								th Price
								th Category
								th Sub Category
								th Status
								th Created At
								th Action
						tbody
							- @collection.each_with_index do |resource, index|
								tr
									td = check_box_tag "ids[]", resource.id
									td = resource.code
									td = resource.category.titleize if resource.category.present?
									td
										center
											= image_tag resource.galleries.first.file.url(:thumb), class: "thumb-ads"
									td
										= link_to resource.title, product_path(resource)
										= resource.featured?
										br
										small
											| from: #{link_to resource.user.merchant_info.title, user_path(resource.user)}
									td 
										= get_currency(resource.price) if resource.price.present?
									td = resource.try(:parent_category).try(:name)
									td = resource.try(:sub_category).try(:name)
									td
										= resource.active?
									td = resource.created_at.strftime("%b, %d, %Y") if resource.created_at.present?
									td
										= render partial: 'backend/shareds/prepare_action',
	                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection
					.clearfix
