.col-md-12
	.row
	  = form_for :search, url: pending_backend_products_path, method: 'get' do 
	    .col-md-12
	      h6 Find Results <b> #{collection.size} </b>
	    .col-md-6
	      = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..' 
	    .col-md-5
	      = select_tag :category, options_for_select(Category.roots.alfa.pluck(:name), params[:category]), prompt: 'Choice Category', class: 'select2 form-control'
	    .col-md-1.padding0
	      button class="btn btn-info" type="submit" Search
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Products', button_name: 'Product', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th width="1%"
									.check_all_box 
										= check_box_tag :check_all
								th Product Id
								th Image
								th Title
								th Price
								th Category
								th Sub Category
								th Status
								th Created At
								th Action
						tbody
							- @collection.each_with_index do |resource, index|
								tr
									td = check_box_tag "ids[]", resource.id
									td = resource.code
									td
										center
											= image_tag resource.galleries.first.file.url(:thumb), class: "thumb-ads"
									td
										= link_to resource.title, product_path(resource)
										= resource.featured?
										br
										small
											| from: #{link_to resource.user.merchant_info.title, user_path(resource.user)}
									td 
										= get_currency(resource.price) if resource.price.present?
									td = resource.try(:parent_category).try(:name)
									td = resource.try(:sub_category).try(:name)
									td
										= resource.active?
									td = resource.created_at.strftime("%b, %d, %Y") if resource.created_at.present?
									td
										= render partial: 'backend/shareds/prepare_action',
	                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection
					.clearfix
