.row
  .col-md-2
    .cover-img
      = image_tag f.object.file.url(:small)
    = f.file_field :file
  .col-md-10
    .row
      .col-md-2
        .well
          center
            p Activated
            p = f.check_box :status
      .col-md-4
        h6 Parent
        = f.collection_select(:parent_id, Category.arrange_as_array({order: 'name'},
                              resource.possible_parents), :id, :name_for_selects, {:prompt=> "Select Upline "}, {class: "form-control"})
      .col-md-6
        h6 Name
        = f.text_field :name, class: 'form-control', required: true
      .col-md-12
        h6 Description
        = f.text_area :description, class: 'form-control'
