.col-xs-12
  .form-reply-comment
    = form_for Inquiry.new, url: collection_path, method: 'post' do |f|
      - reciever = resource.user_id 
      - if resource.has_children?
        - check_reciever = resource.children.last 
        - reciever = check_reciever.user_id if check_reciever.owner_id == current_user.id 
        - reciever = check_reciever.owner_id if check_reciever.owner_id != current_user.id 
      = f.hidden_field :parent_id, value: resource.id 
      = f.hidden_field :owner_id, value: reciever
      = f.text_field :message, class: 'form-control'
      br
      | <input class="btn btn-info btn-sm pull-right" type="submit" value="Send">
