- if @comments.present? 
  - @comments.each do |comment|
    .row.section-comments-group
      .col-sm-3
        center
          .user-image-cycle.float-none.margin-none
            = image_tag comment.try(:user).try(:profile).try(:avatar).url(:thumb), class: 'host-profile-image' 
          br
          | <span class="text-muted"><b>#{comment.try(:user).try(:username)}</b></span>
      .col-sm-9
        br
        .row
          .col-xs-12
            | <p class="well">#{comment.message}</p>
          .col-xs-11
            small.text-muted
              | <i class="fa fa-user"></i>
              | &nbsp;<a href="mailto:#{comment.try(:user).try(:email)}"> #{comment.try(:user).try(:email)} </a>
              | &nbsp;
              | <i class="fa fa-mobile"></i> #{comment.try(:user).try(:contact).try(:phone)}
              br
              | Sent at #{comment.try(:created_at).strftime("%H:%M %B, %d, %Y")}
          .col-xs-1
            = link_to '<i class="fa fa-times-circle"></i>'.html_safe,resource_path(comment), method: 'delete', data: {confirm: "Are you sure delete this #{comment.id}"} 
          .col-xs-12
            hr