/*Responsive By Fathan Rohman*/

@media screen and (max-width: 1024px) {
  #top-navigation .navbar-brand h1 {
    font-size: 20px;
  }

  #top-navigation .navbar-brand h1 {
      margin-top: 7px;
  }

  .mgbt-10{
    margin-bottom: 10px;
  }

  .mgtp-10{
    margin-top: 10px;
  }

  #top-navigation .navbar-form {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  #top-navigation .navbar-brand h1 {
    font-size: 20px;
  }

  #top-navigation .navbar-brand h1 {
      margin-top: 7px;
  }

  .login-reg-actions{
    margin: auto;
    display: table;
  }

  .avatar-author{
    margin: auto;
  }

  .info-avatar-user{
    text-align: center;
  }

  .featured-section{
    margin: auto;
    display: table;
    float: none;
  }

  section.wallpaper{
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  #top-navigation .navbar-brand h1 {
    font-size: 20px;
  }

  #top-navigation .navbar-brand h1 {
      margin-top: 7px;
  }

  .featured-section .item{
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .main-text .btn-new{
    padding: 4px 30px;
    font-size: 12px;
  }

  .main-text .btn-second{
    padding: 4px 30px;
    font-size: 12px;
  }

  .main-text .btn-or {
    border-radius: 50%;
    padding: 6px 4px;
    font-size: 10px;
    margin-left: -20px;
  }

  .navbar-default .navbar-toggle {
    border-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
  }

  #top-navigation .navbar-default .navbar-nav .open{
    width: 100%;
    display: inline-block;
  }

  #top-navigation .dropdown-menu-message{
    width: 100%!important;
  }

  #top-navigation .dropdown-menu-message .box-inbox-pop a:hover{
    color: #333333;
  }

  #top-navigation .mega-dropdown-menu > li > ul > li > a{
      color: #FFFFFF;
  }

  #top-navigation .navbar-default .navbar-right li:last-child a{
    border-right: solid 1px transparent;
  }

  #top-navigation .nav-account .dropdown-menu{
    width: 100%;
  }

  #top-navigation .nav-account .dropdown-menu li a {
    color: #FFF;
    border-bottom: solid 1px transparent;
  }

  .mg-input-search{
    margin-bottom: 12px;
  }

  .oshop-point-wrapper .oshop-point-info .icon-point{
    text-align: center;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent;
  }

  #top-navigation .navbar-default .navbar-nav > li > a{
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }

  .top_info{
    font-size: 10px;
  }

  .top_info{
    float: none;
    margin: auto;
    display: table;
    width: 100%;
  }

  .top_info li a{
    width: 33.3%;
    padding: 6px;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  .main-text h1{
    font-size: 20px;
  }

  .main-text p{
    font-size: 12px;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .featured-section .item{
    height: 80px;
  }

  .list-our-product .cover{
    margin-bottom: 20px;
  }

  .list-our-product .cover{
    height: 400px;
  }
  .new-product-wrapper ul li.li-wdt-33{
    width: 50%;
  }
  .the-categories li ul li{
    width: 50%;
  }

  /*cover user*/
  .cover-banner{
    height: inherit;
  }

  .cover-information-user .cover-user-one .info-user-left{
    width: 100%;
  }

  .cover-information-user .cover-user-one .info-user-right{
    width: 100%;
  }

  .cover-information-user .cover-user-second {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .cover-information-user .cover-user-second .info-location-left{
    width: 100%;
  }

  .cover-information-user .cover-user-second .info-desc-social{
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .content .properties li{
    width: 50%;
    margin-bottom: 10px;
  }

  .avatar-author{
    width: 80px;
    height: 80px;
  }

  .section-menu-user-child{
    font-size: 10px;
  }

  .list-our-product h4 a{
    font-size: 12px;
  }

  .top_info{
    font-size: 10px;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  #top-navigation .navbar-nav > li > a{
    padding: 10px;
  }

  .main-text h1{
    font-size: 17px;
  }

  .main-text p{
    font-size: 12px;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  .section-menu-user ul a{
    width: 100%;
  }

  .header-search .form{
    width: 100%;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .featured-section .item{
    height: 75px;
  }

  /*cover user*/
  .cover-information-user .cover-user-second .info-desc-social .info-contact .box-contact .box-body-contact .phone{
    font-size: 15px;
  }

  .cover-information-user .cover-user-second .info-desc-social .info-sharethis .box-contact .box-body-contact .phone{
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .choice-gallery-form li{
    width: 32.9%;
    height: 130px;
  }

  .section-menu-user-child{
    font-size: 12px;
  }

  .section-menu-user-child ul a{
    padding: 10px 4px;
  }

  .list-our-product h4 a{
    font-size: 12px;
  }

  h2, .h2{
    font-size: 20px;
  }

  .top_info{
    font-size: 10px;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  .main-text h1{
    font-size: 12px;
  }

  .main-text p{
    font-size: 12px;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .featured-section{
    margin: auto;
    display: table;
    float: none;
    margin-top: 40px;
    .author-item{
      width: 20%;
    }
  }

  .featured-section .item{
    height: 75px;
  }
  .new-product-wrapper ul li.li-wdt-33{
    width: 100%;
  }

  .post-center{
    display: table!important;
    margin: auto!important;
  }

  .avatar-author{
    display: table;
    margin: auto;
  }

  .brand-shop{
    text-align: center;
  }

  footer ul{
    padding-left: 0;
  }

  footer ul li a{
    width: 100%;
  }

  .slider #slider-product .slides > li{
    height: 300px;
  }

  .price-lg{
    font-size: 16px;
  }

  h3.title{
    font-size: 18px;
  }

  .cover-information-user .cover-user-second .info-desc-social .info-contact .box-contact .box-body-contact .desc{
    font-size: 10px;
  }

  .cover-information-user .cover-user-second .info-desc-social .info-sharethis .box-contact .box-body-contact .desc{
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .cover-information-user .cover-user-one .info-user-left .description .start-join{
    font-size: 12px;
  }
  .content .properties li{
    width: 100%;
    margin-bottom: 10px;
  }

  .main-text .btn-new{
    padding: 4px 30px;
    font-size: 10px;
  }

  .main-text .btn-second{
    padding: 4px 30px;
    font-size: 10px;
  }

  .main-text .btn-or {
    border-radius: 50%;
    padding: 6px 4px;
    font-size: 10px;
    margin-left: -20px;
  }

  .section-menu-user-child{
    font-size: 8px;
  }

  .section-menu-user-child ul a{
    padding: 10px 6px;
  }

  .list-our-product h4 a.btn {
    font-size: 10px;
    width: 50%;
    margin-bottom: 3px;
  }

  .choice-gallery-form li{
    width: 32.9%;
    height: 100px;
  }

  .slider #slider-product .slides > li{
    height: 200px;
  }


  #top-navigation .navbar-form {
    width: 330px;
  }

  #top-navigation .mega-dropdown-menu > li > ul > li > a{
    color: #FFFFFF;
  }

  #top-navigation .nav-account .dropdown-menu li a {
    color: #FFFFFF;
    border-bottom: solid 1px transparent;
  }

  #top-navigation .navbar-default .navbar-nav > li > a{
    border-left: solid 1px transparent;
  }

  .top_info{
    font-size: 8px;
  }

  .position-desc-top-info{
    text-align:left;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  .main-text {
    top: 25%;
  }

  .main-text h1{
    font-size: 12px;
  }

  .main-text p{
    display: none;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .featured-section .item{
    height: 70px;
  }

  .list-our-product .cover{
    height: 200px;
  }
  .the-categories li ul li{
    width: 100%;
  }
  .new-product-wrapper ul li.li-wdt-33-user{
    width: 100%;
  }

  .cover-information-user .cover-user-second .info-desc-social .info-contact .box-contact .box-icon .icon{
    width: 40px;
    height: 40px;
  }

  .cover-information-user .cover-user-second .info-desc-social .info-sharethis .box-contact .box-icon .icon{
    width: 40px;
    height: 40px;
  }

  .cover-information-user .cover-user-second .info-desc-social .info-contact .box-contact .box-icon .icon .fa{
    font-size: 20px;
  }

  .cover-information-user .cover-user-second .info-desc-social .info-sharethis .box-contact .box-icon .icon .fa{
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  .section-menu-user-child{
    font-size: 8px;
  }

  .section-menu-user-child ul a{
    padding: 10px 6px;
  }

  .list-our-product h4 a {
    font-size: 10px;
    width: 100%;
    margin-bottom: 3px;
  }

  #top-navigation .navbar-form {
    width: 290px;
  }

  #top-navigation .mega-dropdown-menu > li > ul > li > a{
    color: #FFFFFF;
  }

  #top-navigation .nav-account .dropdown-menu li a{
    color: #FFFFFF;
  }

  .top_info{
    font-size: 6px;
  }

  .top-bar .login-reg-actions .btn{
    font-size: 9px;
  }

  .top-bar .cart-btn .fa{
    font-size: 12px;
  }

  .position-desc-top-info{
    left:2%;
    text-align:left;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  .main-text {
    top: 15%;
  }

  .main-text h1{
    font-size: 12px;
  }

  .main-text p{
    font-size: 10px;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .copyright .follow-us{
    float: left;
  }

  .featured-section{
    float: left;
    margin-top: 20px;
  }

  .title-top-confirmation{
    font-size: 20px;
  }

  .p-confirmation{
    font-size: 15px;
    text-align: justify;
  }

  .header-search h4{
    font-size: 15px;
  }

  .header-search .form{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
  }

  .h-category-shop{
    font-size: 12px;
  }

  .simple-top-search .layout-slider{
    margin-bottom: 20px;
  }

  .featured-section .item{
    height: 55px;
  }

  .list-our-product h4{
    margin-top: 10px;
  }

  .list-our-product .category{
    margin-top: 10px;
  }
}
