/********************************/
/*        Global Custom         */
/********************************/
body{
  font-size: 13px;
  background: #f5f5f5;
}
.break{
  width: 100%;
  float: left;
  height: 10px;
}
i{
  margin: 0 5px;
}

a{
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  text-decoration: none;
}

a:hover{
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  text-decoration: none;
}

.alert{
  margin-bottom: 0;
  float:left;
  width:100%;
}
.uppercase{
  text-transform: uppercase;
}
.color-grey{
  color: #999;
}
.full-width{
  width: 100%;
}
.verified{
  color: #78C042;
}
.margin-btm-10{
  margin-bottom: 10px;
}

.table-responsive{
  float:left;
  width:100%;
}

.choice-inden{
  padding: 10px;
  text-align: center;
  border: solid 1px #ddd;
  background: #f5f5f5;
}

.padding10{
  padding: 10px!important;
}

.nav-tabs > li > a{
  border-radius: 0;
  background: #207ce5!important;
  color: #fff;
  margin-right: 5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border-top: solid 2px #207ce5;
  background: #fff!important;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #00ADEF;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0);
}

/********************************/
/*            Top Bar           */
/********************************/
.top-bar{
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -ms-box-shadow: 0 0 4px #000000;
  -o-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
  font-size: 12px;
  border-top: solid 2px #207ce5;
  span{
    float: left;
    color: white;
    padding: 5px 0;
  }
  .login-reg-actions{
    margin-top: 5px;
  }
  .login-reg-actions .btn{
    background-color: #ededed;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#dfdfdf');
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#ededed),color-stop(100%,#dfdfdf));
    background-image: -webkit-linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    background-image: -moz-linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    background-image: -o-linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    background-image: linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    border: 1px solid #bdbdbd;
    float: left;
    font-size: 12px;
    font-weight: 500;
  }
  .login-reg-actions .btn:hover{
    /*opacity: 0.7;
    color: #fff!important;*/
  }
  .login-reg-actions .create-account{
    color: #008000;
  }
  .login-reg-actions .nav-register{
    color: #207ce5;
  }
  .login-reg-actions span{
    padding: 0;
  }
  .login-reg-actions .cart-btn{
    span{
      color: #333;
    }
  }
  .cart-text .fa, .menu-notification .fa{
    margin-right: 5px;
  }
  .count-inbox{
    font-size: 10px;
    background: red;
    padding: 0 2px !important;
    border-radius: 2px;
  }
  .dropdown-toggle-new{
    padding: 0!important;
    .message-btn{
      border-radius: 0!important;
      .fa{
        font-size: 15px;
        color: #000;
        padding: 1px;
        margin-right: 2px;
      }
    }
  }
  .cart-btn{
    .fa{
      font-size: 15px;
    }
  }
  .nav-account .open > a, .nav-account .open > a:hover, .nav-account .open > a:focus {
    background: none;
  }
  .dropdown-menu .divider{
    margin: 0;
  }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    z-index: 1000;
  }
}

.top_info{
  padding-left: 0;
  list-style: none;
  font-weight: 300;
  li a{
    color: #333;
    padding: 12px 10px;
    float: left;
    border-right: solid 1px #ccc;
    font-weight: 500;
  }
  li a:hover{
    text-decoration: none;
    color: #000;
  }
  li:first-child a{
    border-left: solid 1px #ccc;
  }
}


/********************************/
/*      Custom Menu Dropdown    */
/********************************/

.navbar-default{
  background: #175CAA;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
}
#top-navigation .dropdown-toggle-avatar{
  padding: 4px 10px;
  float: left;
  span{
    padding: 11px 0;
    float: left;
  }
}
.thumb-avatar{
  height: 40px;
  width: 40px;
  overflow: hidden;
  float: left;
  border-radius: 2px;
  margin-right: 10px;
}
.thumb-avatar img{
  width: 100%;
}
.navbar-default .navbar-brand{
  color: #fff;
  padding: 2px 20px 0px 0px;
  h1{
    margin-bottom: 0;
  }
}
.navbar-toggle {
  padding: 15px 15px;
}
.navbar-brand {
  font-weight: bold;
  padding: 5px 0;
  float: left;
  height: auto;

  img{
    height: 40px;
    width: auto;
  }
  h1{
    margin-top:0px;
  }
}
.list-dropdown-menu{
  padding: 0;
}
.list-dropdown-menu li a{
  padding: 10px 10px;
  border-bottom: 1px solid #f5f5f5;
  color: #555;
  background-color: #fff;
}
.list-dropdown-menu li a:hover{
  background: #fff;
  color: #555;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
  border-left: solid 1px #306EB3;
  border-right: solid 1px #306EB3;
}
.navbar-default .navbar-nav > li > a i{
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover{
  background: #fff;
  color: #555;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus ,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  background: #fff;
  color: #555;
}
.navbar-default .navbar-right li a{
  border-right: 0;
}
.navbar-default .navbar-right li:last-child a{
  border-right: solid 1px #306EB3;
}
.dropdown-menu{
  min-width: 200px;
  border-top: 0;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
  img{
    height: 20px;
    width: 22px;
    margin-right: 4px;
  }
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 10px;
  clear: both;
  line-height: 1.428571429;
  color: #606060;
  white-space: normal;
  font-size: 12px;
  font-weight: 300;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu > li > ul > li.dropdown-header > a {
  padding: 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
}
.mega-dropdown-menu > li > ul > li.dropdown-header > a:hover {
  background: none;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
  padding: 6px;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
.h-all-categories{
  text-align: center;
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.all-categories a{
  background: #f5f5f5;
  padding: 10px;
  text-align: center;
  border: dashed 1px #ccc;
  margin-top: 20px;
  width: 100%;
  float: left;
}
.all-categories a:hover{
  opacity: 0.6;
  text-decoration: none;
}
.navbar-form {
  width: 490px;
}
.navbar-form .input-group{
  width: 100%;
}
.navbar-form .input-group-btn{
  width: 10px;
}
.nav-account .dropdown-menu{
  padding: 0;
  border-radius: 0;
  font-size: 12px;
  width: 220px;
}
.nav-account .dropdown-menu li a{
  padding: 14px 10px;
  color: #777;
  border-bottom: dashed 1px #f5f5f5;
}
.nav-account .dropdown-toggle{
  cursor: pointer;
}
.nav-account .dropdown-toggle .count-inbox{
  background: red;
  font-size: 10px;
  padding: 1px 2px;
  color: #fff!important;
}
.fa-shopping-cart{
  font-size: 16px;
}
.dropdown-menu-message{
  width: 300px!important;
  .header-inbox-pop {
    padding: 10px;
    background: #f5f5f5;
    color: #777;
    float: left;
    width: 100%;
    a{
      color: #444!important;
      border: 0!important;
    }
  }
  .box-inbox-pop {
    float: left;
    width: 100%;
    font-size: 11px;
    padding: 10px 0;
    a{
      width: 100%;
      float: left;
      border-bottom: solid 1px #f5f5f5;
      padding: 10px!important;
    }
    a:hover{
      background: #FFFDFD;
      text-decoration: none;
    }
    .usr{
      color: #1fb4da;
    }
    .p-message{
      color: #444!important;
      padding: 10px;
    }
  }
}



/********************************/
/*    Carousel Home Custom      */
/********************************/
.section-home-carousel{
  padding: 0px;
}
.home-carousel .carousel-inner{
  max-height: 500px;
}
.transition-timer-carousel .carousel-inner img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
  width: 100%;
}
.transition-timer-carousel .carousel-caption {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  padding-top: 5px;
  padding-left: 15%;
  padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
  margin-top: 10px;
  font-size: 24px;
}
.transition-timer-carousel .carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
  z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
  height: 5px;
  background-color: #5cb85c;
  width: 0%;
  margin: -5px 0px 0px 0px;
  border: none;
  z-index: 11;
  position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
  -webkit-transition: width 4.25s linear;
  -moz-transition: width 4.25s linear;
  -o-transition: width 4.25s linear;
  transition: width 4.25s linear;
}
.carousel-control.left, .carousel-control.right{
  background-image: none!important;
}
.main-text {
  position: absolute;
  top: 20%;
  width: 80%;
  color: #FFF;
  margin: auto;
  display: table;
  left: 0;
  right: 0;
  .btn-success{
    margin-top: 10px;
    padding: 15px 50px;
    text-transform: uppercase;
  }
  .btn-or{
    background: #fff;
    color: #000;
    border-radius: 60%;
    padding: 15px 10px;
    position: absolute;
    margin-left: -30px;
    font-weight: bold;
    z-index: 2;
  }
  .btn-new{
    background: #306EB3;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    color: #fff;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 22px;
  }
  .btn-new:hover, .btn-second:hover{
    color: yellow;
  }
  .btn-second{
    background: #207ce5;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    color: #fff;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 22px;
  }
}
.main-text-auction{
  top: 25%;
  width: 50%;

  form{
    margin-bottom: 40px;
  }
  .form-control{
    border-radius: 0!important;
    border-left: 0!important;
  }
}
.main-text-auction
.main-text-auction
.main-text-auction .input-group-addon{
  border-right: 0!important;
}
.main-text h1 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  font-size: 40px;
  font-weight: bold;
}
.main-text p {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.btn-create-sell {
  border-radius: 6px!important;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px 30px;
  background: rgba(0,0,0,0.5);
  border-style: none;
  color: #fff;
}
.btn-create-sell:hover {
  color: #fff;
  background: rgba(255,255,255,0.5);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


/********************************/
/*         Media Carousel       */
/********************************/
.home-carousel h1{
  color: #fff;
}
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;

  .carousel-control.left
  {
    left: -12px;
    height: 40px;
    width : 40px;
    font-size:100px;
    color: #018763;
    background: none!important;
    top: -30px;
  }
  .carousel-control.right
  {
    right: -12px !important;
    height: 40px;
    width : 40px;
    font-size:100px;
    color: #018763;
    background: none!important;
    top: -30px;
  }
  .carousel-indicators
  {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;

    li
    {
      background: #c0c0c0;
    }
    .active
    {
      background: #333333;
    }
  }
  img
  {
    width: 100%;
    max-height: 200px;
  }
}

/********************************/
/*         Quote Carousel       */
/********************************/
#quote-carousel {
  margin-top: 30px;
  font-weight: 200;

  small{
    color: #000;
  }
  .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  .carousel-control.left {
    left: -60px;
  }
  .carousel-control.right {
    right: -60px;
  }
  .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;

    li {
      width: 50px;
      height: 50px;
      margin: 5px;
      cursor: pointer;
      border: 4px solid #CCC;
      border-radius: 50px;
      opacity: 0.4;
      overflow: hidden;
      transition: all 0.4s;
    }
    .active {
      background: #333333;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      border-color: #fff;
      opacity: 1;
      overflow: hidden;
    }
  }
  .carousel-inner {
    min-height: 300px;
  }
}

.item{
  blockquote {
    border-left: none;
    margin: 0;
  }
  blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
  }
}

/********************************/
/*       Products Carousel      */
/********************************/
.slider{
  position: relative;
  .flexslider{
    margin-bottom: 10px;
  }
  .flex-caption {
    width: 100%;
    padding: 20px;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    margin-bottom: 0;
  }
  #slider-product{
    border: solid 1px #ccc;
    border-radius: 0;
  }

  #carousel-product .slides > li {
    border: solid 1px #ccc;
    margin-right: 4px;
    height: 100px;
    overflow: hidden;
  }
  .flexslider{
    background: none!important;
    border: 0;
  }
}

/********************************/
/*          Magnify Show        */
/********************************/
.magnify {
  position: relative;
  cursor: none
}

.magnify-large {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;

  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
           border-radius: 100%
}

/********************************/
/*      Sidebar Content         */
/********************************/
.sidebar-show {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 13px;
  float: left;
  background: #fff;
  border: 1px solid #ececec;

  .price-small{
    font-size: 15px;
    color: #78C042;
  }
  .price-label{
    font-size: 20px;
  }
  .btn-order{
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .btn{
    width: 100%;
  }
  .btn-question{
    width: auto;
  }
  .title{
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
  }
  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .properties{
    padding-left: 15px;
    color: #666;
  }
  .indent{
    padding: 5px 0px;
    font-size: 11px;
    border-radius: 4px;
    color: red;
    font-style: italic;
    width:100%;
  }
  .box-profile{
    margin: auto;
    display: table;
    text-align: center;
    .avatar-author{
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .gmap3 {
    width: 100%;
    height: 250px;
    background: #F5F5F5;
    margin-bottom: 10px;
  }
}
.indent{
  padding: 5px 0px;
  font-size: 11px;
  border-radius: 4px;
  color: red;
  font-style: italic;
  width:100%;
}
.side-filter-search{
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 4px;

  .panel-default{
    background: #f5f5f5;
    border: 1px solid #e4e4e4;
  }
  .panel-default .panel-heading {
    background-color: #333 !important;
    color: #ffffff !important;
    padding: 13px 15px;
    float: left;
    width: 100%;
  }
}

.form-side-search{
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.price-lg{
  font-size: 25px;
  border: solid 1px;
  border-radius: 4px;
  padding: 5px 20px;
  color: #000;
  font-weight: 300;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 2px;
  border: 0;
  font-weight: bold;
  background: #e5e5e5;
  i{
    color: #78C042;
    font-size: 28px;
  }
}

/********************************/
/*    The Categories Section    */
/********************************/
.the-categories{
  padding-left: 0;
  list-style: none;
}
.the-categories li.col-sm-3{
  padding-left: 5px;
  padding-right: 5px;
}
.the-categories li ul{
  list-style: none;
  padding-left: 0;
}
.the-categories li ul li{
  padding: 5px;
  width: 100%;
  float: left;
  border: solid 1px #ccc;
  border-left: solid 4px #5cb85c;
  background: #fff;
  color: #606060;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;

  h5{
    margin-top: 20px;
  }
  .icon{
    width: 60px;
    height: 60px;
    float: left;
    background: #f5f5f5;
    border-radius: 100px;
    padding: 15px 10px;
    margin-right: 10px;
    border: solid 1px #306EB3;
    img{
      height: 30px;
      width: 40px;
      margin-right: 10px;
      margin: auto;
      display: table;
    }
  }
}
.the-categories li ul li:hover, .the-categories li ul li.active{
  background: #207ce5;
  text-decoration: none;
  border-left: solid 4px #207ce5;
  color: #fff;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}
.the-categories li ul li input{
  display: none;
}
.section-sub-category-field{
  background: #fff;
  padding: 15px;
  margin-top: 10px;
  border: solid 1px #ccc;
  border-left: solid 4px #207ce5;
  float: left;
  width: 100%;
  h2{
    margin-top: 0;
    font-size: 25px;
  }
  ul{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li{
      padding:4px;
      color: #207ce5;
      cursor: pointer;
      input{
        display: none;
      }
    }
    li:hover, li.active{
      background: #f5f5f5;
    }
  }
}

/********************************/
/*          Button Custom       */
/********************************/
.btn-more{
  margin: auto;
  display: table;
  margin-top: 50px;
  padding: 10px 100px;
  border-bottom: solid 2px #207ce5;
  background: #f5f5f5;
}
.btn-more:hover{
  background: #FFFBFB;
}

/********************************/
/*     The Products Section     */
/********************************/
.available-category{
  padding-top: 20px;
  h3{
    text-align: center;
    color: #606060;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .col-sm-12{
    padding-left: 5px;
    padding-right: 5px;
  }
}
.section-products{
  padding-top: 0;
}
.new-product-wrapper{
  width: 100%;

  .box-info-top-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    .title{
      font-size: 30px;
      font-weight: bold;
      color: #000000;
    }

    .description{
      font-size: 20px;
      color: #000000;
      line-height: 45px;
    }
  }

  ul{
    padding-left: 0px;
    margin-bottom: 0;
    li{
      float: left;
      list-style: none;

      .box-img-wrapper{
        height: 0;
        padding-bottom: 60%;
        overflow: hidden;
        position: relative;
        border: 1px solid #F5F5F5;
        border-left: 0;
        .label{
          position: absolute;
          background: rgba(16,16,16,0.5);
          margin-top: 5px;
          padding: 6px 10px;
          text-transform: uppercase;
          border-radius: 0;
        }

        img{
          display: block;
          width: 100%;
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all 1s ease; /* Firefox */
          -ms-transition: all 1s ease; /* IE 9 */
          -o-transition: all 1s ease; /* Opera */
          transition: all 1s ease;

          &:hover{
            -webkit-transform:scale(1.25); /* Safari and Chrome */
            -moz-transform:scale(1.25); /* Firefox */
            -ms-transform:scale(1.25); /* IE 9 */
            -o-transform:scale(1.25); /* Opera */
             transform:scale(1.25);
          }
        }

        .avatar {
          position: absolute;
          bottom: 5px;
          left: -5px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .avatar img {
          width: 60px;
          height: 60px;
          max-width: 60px;
          max-height: 60px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 5px solid rgba(255,255,255,0.5);
          cursor: pointer;
          vertical-align: 0;
        }
      }

      .section-whistlist{
        position: absolute;
        top: 5px;
        right: 0px;
      }

      .status-whistlist i{
        font-size: 25px;
        cursor: pointer;
        display: none;
        color: #ccc;
      }

      .status-whistlist i.active{
        color: yellow;
        display: block;
      }

      .box-desc-bottom{
        width: 100%;
        border-left: 1px solid #AAAAAA;
        float: left;
        padding: 10px 10px 0 10px;
        font-weight: 400;
        .title{
          font-size: 14px;
          font-weight: 400;
          color: #000000;
          text-align: center;
          height: 40px;

          a{
            color: #000000;
            text-decoration: none;
          }
        }
        .col-xs-6{
          padding: 0;
        }

        .price{
          font-size: 14px;
          color: #5cb85c;
          text-transform: uppercase;
          text-align: center;
          line-height: 20px;
        }

        &:first{
          border-left: 1px solid transparent;
        }

        .address{
          color: #aaa;
          font-size: 12px;
        }
      }

      &.li-wdt-50{
        width: 50%;
      }

      &.li-wdt-33{
        width: 25%;
        margin-top: 10px;
      }

      &.li-wdt-33-user{
        width: 33.3%;
        margin-bottom: 10px;
      }
    }
  }
}

/********************************/
/*      Side Search Section     */
/********************************/
.side-filter-search {
  width: 100%;
  background: #efefeb;
  border: 1px solid #e4e4e4;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
}
.side-search-filter-choice{
  .panel-accords {
    background-color: #efefeb!important;
    color: #333 !important;
    float: left;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .table{
    margin-bottom: 0;
    tr td{
      border-top: 0;
      border-bottom: solid 1px #f5f5f5;
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  a.strong{
    font-weight: bold;
    color: #78c042;
  }
}
.h-category-shop{
  background: #207ce5;
  color: #fff;
  padding: 10px 10px;
  font-size: 16px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
.jslider{
  .jslider-value{
    background: #000!important;
    color: #fff;
  }
  .jslider-label{
    opacity: none;
  }
}
.btn-search-now {
  margin-bottom: 10px!important;
  width: 100%;
}

/********************************/
/*         Header Search        */
/********************************/
.header-search{
  padding: 30px 0 60px 0;
  background-image: url("/assets/bg_pattern.png");
  border-bottom: solid 2px #207ce5;

  h4{
    color: #000;
    text-shadow: 2px 2px #fff;
    font-weight: 300;
    font-size: 20px;
  }
  .form{
    width: 60%;
    margin: auto;
    background-color:rgba(0,0,255,0.3);
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    input{
      height: 46px;
    }
    .by-search{
      background: #207ce5;
      color: #fff;
    }
  }
}
.simple-top-search{
  padding: 15px;
  background: #fff;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  border-top: solid 4px #175CAA;
  select{
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .layout-slider{
    padding: 6px 0;
  }
}

.slider-price-box{
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  padding: 30px;
}

/********************************/
/*      Description Custom      */
/********************************/
.description{
  width: 100%;
  float: left;
  text-align: justify;
  p{
    line-height: 25px;
    color: #777;
    font-size: 13px;
  }
}

.tab-content{
  float: left;
  width: 100%;
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-top: 0;
  margin-bottom: 20px;
  h5{
    margin-top: 0;
  }
}
.section-comments-group{
  margin-bottom: 20px;
  .p_comment{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
  }
}
.desc-product{
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;

  h5{
    margin-top: 0;
  }
}

/********************************/
/*      Button Color Custom     */
/********************************/
.btn-color-box{
  width: 40px!important;
  height: 40px!important;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  position: relative;
  cursor: pointer;

  input[type="radio"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    opacity: 0;
    border-radius: 0;
  }
}
.btn-color-box.active{
  opacity: 1 !important;
  box-shadow: 4px 4px 11px -3px #000000;
}
.color-ids {
  margin-top: 0px;
  height: auto !important;
  position: absolute !important;
  overflow: hidden;
  opacity: 0;
  min-width: 100%;
  min-height: 80%;
  width: auto !important;
  width: 100%;
  left: 0%;
}

.btn-color-box2{
  width: 40px!important;
  height: 40px!important;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  position: relative;
  cursor: pointer;

  input[type="radio"]{
    position: absolute;
    border-radius: 0;
    margin: auto;
    display: table;
    left: 0;
    right: 0;
  }
}
.btn-color-box2.active{
  opacity: 1 !important;
  box-shadow: 4px 4px 11px -3px #000000;
}
.color-ids2 {
  margin-top: 0px;
  height: auto !important;
  position: absolute !important;
  min-width: 100%;
  min-height: 80%;
  width: auto !important;
  width: 100%;
  left: 0%;
}

/********************************/
/*   Featured Custom Section    */
/********************************/
.featured-section{
  /*display: table;
  margin: auto;*/
  float: right;

  .author-item{
    width: 92px;
    margin-bottom: 10px;
    padding: 0 6px;
  }
  .item{
    border: 3px solid #fff;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    height: 80px;
    -webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
  }
  .popover {
    min-width: 350px;
    padding-bottom: 6px;
    background: #fff;
    color: #232323;
    position: absolute;

    .tooltips-image{
      margin: 5px 0;
      height: 165px;
      overflow: hidden;
    }
    .tooltips-image img{
      width: 100%;
      height: auto;
    }
    .popover-title{
      background: #f5f5f5;
      font-weight: normal;
      border-bottom: solid 1px #efefeb;
      color: #333;
    }
  }
  .tooltips-content{
    display: block;
  }
  .tooltips-desc{
    width: 100%;
    float: left;
    margin: 6px 0 4px 0;
    clear: both;
  }
  .tooltips-tag{
    font-size: 12px;
    color: #B2B2B2;
    float: left;
    display: inline-block;
  }
  .tooltips-price{
    float: right;
    font-size: 14px;
    color: #78C042;
  }
  .tooltips-content{
    display: none;
  }
  .item img{
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}
.avatar-author{
  padding: 0!important;
  border: solid 2px #ccc;
  border-radius: 50%;
  overflow: hidden;
  height: 95px;
  width: 95px;
}
.avatar-author img {
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.avatar-setting{
  border: solid 1px #ccc;
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.card-avatar{
  margin-top: 15px;
  background: #207ce5;
  border: solid 1px #207ce5;
  padding: 15px;
  color: #fff;
}

.brand-shop{
  margin-top: 10px;
  margin-bottom: 5px;
}
.brand-shop a{
  color: #000;
  text-shadow: 2px 1px #fff;
}

.section-user{
  padding-top: 15px;
  .title-manage{
    margin-top: 0;
  }
}
.section-breadcrumb{
  width: 100%;
  float: left;
  padding: 10px;
}
.breadcrumb{
  margin-bottom: 15px;
  background: none;
  font-size: 12px;
  a{
    color: #337ab7!important;
  }
}

/********************************/
/*          Box Custom          */
/********************************/
.service{
  margin-top: 20px;
  .box {
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center!important;
    display: block;
    margin-top: 60px;
    border: solid 1px #207ce5;
  }
  .box-icon {
    border-radius: 50%;
    display: table;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: -61px;
    background: #777;
  }
  .box-icon:hover{
    background: #3D98F1;
  }
  .box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .info h4 {
    letter-spacing: 2px;
    color: #207ce5;
  }
  .info h5 {
    color: #aaa;
    font-size: 16px;
  }
  .info > p {
    color: #777;
    font-size: 14px;
    font-weight: 200;
  }
  .info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  .info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  .img-circle {
    border-radius: 50%;
    width: 100%;
  }
}

.card {
  float: left;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background: #fff;
  ul{
    padding-left: 0px;
  }

  ul li{
    list-style: none;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
    border-radius: 30px;
    margin: auto;
  }

  ul li i{
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
    background: #78C042;
    padding: 3px 6px;
    border-radius: 5px;
  }

  ul li span{
    color: #000;
    font-size: 20px;
  }
}

.card.hovercard .cardheader {
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

/********************************/
/*     Button Custom Section    */
/********************************/
.btn-info {
  background: #175caa;
  border: solid 1px #175caa;
}
.btn-info:hover{
  border: solid 1px #398a9d;
}
.btn-default{
  background-color: #FFF;
  border-color: #dddad6 #D8D5D2 #c4c0bc;
  background: -webkit-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -moz-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -ms-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -o-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  text-shadow: 0 1px 0 white;
  color: #756e69
}

/********************************/
/*        Merchant Section      */
/********************************/
.cover-banner{
  width: 100%;
  background: white;
  margin-bottom: 10px;
  float: left;
  overflow: hidden;
  height: 250px;
  position: relative;

  img{
    width: 100%;
  }

  .like-button{
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

/********************************/
/*          Custom Section      */
/********************************/
.breadcrumb{
  margin-bottom: 0;
  border-radius: 0!important;
}
.breadcrumb a{
  color: #000;
}
section{
  width: 100%;
  float: left;
  padding: 40px 0;
  h1{
    text-align: center;
    color: #207ce5;
    font-size: 30px;
    letter-spacing: 0.3px;
    font-weight: normal;
  }
  .desc-section{
    text-align: center;
    margin: auto;
    display: table;
    margin-bottom: 30px;
  }
}
section.section-carousel{
  padding: 0;
}
section.white{
  background: #fff;
}
section.grey{
  background: #f5f5f1;
  border-top: 1px solid #e4e4e4;
}
section.gradient-grey{
  background: #f5f5f1;
}
section.shadow{
  -webkit-box-shadow: 0 0 10px 5px rgba(166, 166, 166, 0.1);
  -moz-box-shadow: 0 0 10px 5px rgba(166, 166, 166, 0.1);
  box-shadow: 0 0 10px 5px rgba(166, 166, 166, 0.1);
}
section.wallpaper{
  background: #fff;
  color: #000;
  font-size: 14px;
  padding: 25px 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
}
.title-content-product{
  font-size: 14px;
  float: right;
  padding: 4px;
}


/********************************/
/*    Pinterest Grid Plugin     */
/********************************/

#pinBoot, #pinBoot-featured {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
  float: left;

  article{
    float: left;
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;

    .cover{
      border: solid 1px #f5f5f5;
      width: 100%;
      overflow: hidden;

      img{
        width: 100%;
        -webkit-transition: all 1s ease; /* Safari and Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* IE 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
      }
      img:hover{
        -webkit-transform:scale(1.25); /* Safari and Chrome */
          -moz-transform:scale(1.25); /* Firefox */
          -ms-transform:scale(1.25); /* IE 9 */
          -o-transform:scale(1.25); /* Opera */
           transform:scale(1.25);
      }
      .avatar {
        position: absolute;
        bottom: 55px;
        left: -5px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .avatar img {
        width: 60px;
        height: 60px;
        max-width: 60px;
        max-height: 60px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,0.5);
        cursor: pointer;
        vertical-align: 0;
      }
      .section-whistlist{
        position: absolute;
        top: 5px;
        right: 0px;
      }
      .status-whistlist i{
        font-size: 25px;
        cursor: pointer;
        display: none;
      }
      .status-whistlist i.active{
        color: #5cb85c;
        display: block;
      }
    }
    h4{
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 0px;
      a{
        color: #555;
      }
    }
    span.category{
      float: left;
      color: #B2B2B2;
      font-weight: 200;
      font-size: 12px;
    }
    span.price{
      color: #78C042;
      font-size: 14px;
      font-weight: 400;
    }
    .content-bottom{
      background: #f5f5f5;
      margin-top: 10px;
      padding: 4px;
      font-size: 20px;
      font-weight: normal;
      color: #1fb4da;
    }
  }
  article:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.list-product-grid{
  margin-top: 0!important;

  h6{
    font-size: 12px;
    font-weight: normal;
  }
  a{
    color: #333;
  }
  span{
    font-size: 12px;
  }
}

/********************************/
/*         Footer Custom        */
/********************************/
footer{
  -webkit-box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);
  -moz-box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);
  box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);
  padding: 20px 0;
  width: 100%;
  float: left;
  color: #F5F5F5;
  font-size: 13px;
  background: #191919;

  h1{
    text-align: center;
    padding-bottom: 40px;
  }
  h3{
    color: #F5F5F5;
    font-weight: 400;
    font-size: 16px;
  }
  h4{
    color: #F5F5F5;
    font-weight: bold;
  }
  a{
    color: #F5F5F5;
    font-weight: 300;
  }
  a:hover{
    text-decoration: none;
  }
  p{
    color: #F5F5F5;
  }
  hr{
    border-top: 1px solid #ccc;
  }
  ul{
    list-style: none;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    li a{
      float: left;
      padding: 4px 10px;
    }
  }
  .bottom-footer{
    background: #ccc;
    padding: 10px 0;
    margin-top: 20px;
    background: #1f1f1f;
    border-bottom: 2px solid #000;
    width: 100%;
    float: left;
    -webkit-box-shadow: 0 0 4px #000000;
    -moz-box-shadow: 0 0 4px #000000;
    -ms-box-shadow: 0 0 4px #000000;
    -o-box-shadow: 0 0 4px #000000;
    box-shadow: 0 0 4px #000000;
    color: white;
  }
  .hocial-lg{
    margin-bottom: 10px;
    margin: auto;
    display: table;
  }
  .footer-subscribe .btn {
    margin-top: 10px;
  }
}
.copyright{
  padding: 10px 0;
  background: #191919;
  color: #F5F5F5;
  p{
    margin-bottom: 0;
    padding: 10px 0;
  }
  .follow-us{
    float: right;
  }
}


/********************************/
/*        Social Content        */
/********************************/
.follow-us{
  a {
    color: #ffffff;
    width: 34px;
    height: 34px;
    margin-right: 9px;
    font-size: 18px;
    padding: 6px;
    transition: opacity 0.4s;
  }
  .site-facebook {
    background: #3a599c;
  }
  .site-twitter {
    background: #4b91ce;
  }
  .site-google-plus {
    background: #dd4b39;
  }
}


/********************************/
/*        Devise Content        */
/********************************/
.form-devise{
  .btn-primary-fb {
    color: #fff;
    background-color: #3a599c;
    border-color: #357ebd;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 10px;
    border-radius: 0px;
    -webkit-transition:all .4s ease-in-out!important;
    -moz-transition:all .4s ease-in-out!important;
    ms-transition:all .4s ease-in-out!important;
    -o-transition:all .4s ease-in-out!important;
    transition:all .4s ease-in-out!important;
  }
  .btn-primary-fb:hover{
    opacity: 0.9;
    color: #357ebd;
    background-color: #FFFFFF;
    border-color: #357ebd;
    -webkit-transition:all .4s ease-in-out!important;
    -moz-transition:all .4s ease-in-out!important;
    ms-transition:all .4s ease-in-out!important;
    -o-transition:all .4s ease-in-out!important;
    transition:all .4s ease-in-out!important;
  }
  .omb-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    display: block;
  }
  .omb-span {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
    font-size: 1.5em;
    color: #aaa;
  }
  .form-group {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }
  form{
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
  }
  .controls{
    margin-top: 10px;
  }
  .remember{
    margin-right: 5px;
  }
}
.modal-content h3{
  margin: 0;
}
.btn-primary-fb {
  color: #fff;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
.btn-primary-fb:hover{
  opacity: 0.9;
  color: #fff;
}
.or-section{
  margin: 10px 0 15px 0;
}
.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}
.form-devise .form-group {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.form-devise form{
  background: #fff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}
.form-devise .controls{
  margin-top: 10px;
}

/********************************/
/*       User Theme Costum      */
/********************************/
.section-menu-user{
  width: 100%;
  float: left;
  border: solid 1px #ccc;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 12px;
  ul{
    list-style: none;
    padding-left: 0;
    li:first-child a{
      background: #207ce5;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
    }
    a{
      float: left;
      padding: 10px 20px;
      border-bottom: solid 1px #f5f5f5;
      text-decoration: none;
      color: #333;
      width: 100%;
      background: #fff;
    }
    a:hover{
      border-bottom: solid 1px #207ce5;
      background: #F5F5F5;
    }
    a.active{
      border-bottom: solid 1px #207ce5;
      background: #f5f5f5;
    }
  }
}
.section-menu-user-child{
  width: 100%;
  float: left;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 12px;
  ul{
    list-style: none;
    padding-left: 0;
    a{
      float: left;
      padding: 10px 20px;
      border-top: solid 2px #fff;
      border: solid 1px #ccc;
      border-bottom: 0;
      text-decoration: none;
      color: #fff;
      background: #207ce5;
      margin-right: 5px;
    }
    a:hover{
      border: solid 1px #207ce5;
      border-top: solid 2px #207ce5;
      border-bottom: 0;
      background: #fff;
      color: #333;
    }
    a.active{
      border: solid 1px #207ce5;
      border-top: solid 2px #207ce5;
      border-bottom: 0;
      background: #fff;
      color: #333;
    }
  }
}
.page-body {
  width: 100%;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  float: left;
  .section-pic{
    border: solid 1px #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}
.list-our-product{
  float: left;
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
  border: solid 1px #e4e4e4;
  padding: 15px 0;
  h4{
    margin-top: 0;
    margin-bottom: 5px;
    a{
      color: #555;
    }
    a.btn{
      color: #fff;
    }
  }
  .price{
    color: #78c042;
  }
  .category{
    color: #b2b2b2;
    font-weight: 200;
    font-size: 11px;
    padding: 0 0 5px 0;
  }
  .cover{
    width: 100%;
    border: solid 1px #e4e4e4;
    overflow: hidden;
    height: 100px;
    img{
      width: 100%;
    }
  }
}

.info-desc-gallery-form{
  float: right;
  width: 50%;
  padding: 0px 14px;
}

.choice-gallery-form{
  list-style: none;
  padding-left: 0;

  &.choice-gallery-form-front{
    display: inline-block;
    width: 50%;
    float: left;
  }

  li{
    width: 33.3%;
    float: left;
    border: solid 1px #ccc;
    padding: 2px;
    height: 130px;
    position: relative;

    &.img-input-form{
      width: 33.333%;
      height: 110px;
    }

    .icon-plus{
      position: absolute;
      top: 37%;
      left: 37%;
      background-color: #175CAA;
      border-radius: 50%;
      border: 1px solid #175CAC;
      width: 30px;
      height: 30px;

      i{
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 10px;
      }
    }
  }
  img{
    width: 100%;
    height: 100%;
  }
  .input-file{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    cursor: pointer;
    opacity: 0.0;
  }
  li.overview{
    width: 50%!important;
    height: 120px!important;
    position: relative;
  }
  li.overview span{
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 5px;
    left: 5px;
    font-size: 14px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
}
.user-image-cycle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 4px #ccc;
  img{
    width: 100%;
  }
}
.cover-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.modal-content-message{
  width: 400px;
  .modal-contact-form{
    .form-group{
      margin-bottom: 10px;
    }
  }
}
.select-birthday{
  width: 33%;
  float: left;
}
.panel-default > .panel-heading{
  background: #fff;
}
.select2-container--default .select2-selection--single{
  border: solid 1px #ccc!important;
}
.select2-container{
  width: 100%!important;
}
.select2-selection{
  height: 34px!important;
}
.banner{
  height: 300px;
  width: 100%;
  overflow: hidden;
  border: solid 1px #ccc;
  img{
    width: 100%;
  }
}
.section_count{
  text-align: center;
  .page-body{
    font-size: 18px;
  }
  i{
    font-size: 40px;
  }
  small{
    color: #aaa;
    font-size: 11px;
  }
}

.panel{
  width: 100%;
  float: left;
  .panel-heading{
    width: 100%;
    float: left;
  }
  .panel-collapse{
    float: left;
    width: 100%;
  }
}

.buttons .btn{
  margin-top: 10px;
}

.well-message{
  border-radius: 5px;
  background: #fff;
  float: left;
  padding: 20px;
  width: 100%;
  border: solid 1px #e4e4e4;
  h5{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }
}

/********************************/
/*           Nav Tabs           */
/********************************/
.nav-tabs > li > a{
  background: #f4f4f4;
}

/********************************/
/*        Invoice Costum        */
/********************************/
.shopping-cart{
  .panel-default{
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.6);
  }
  .avatar-author{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
    img{
      height: 100%;
      width: 120%;
    }
  }
  .title-product{
    float: left;
  }
  .input-quantity{
    width: 50px;
    margin-bottom: 2px;
  }
}

.shipping-logo{
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
.bank-logo{
  height: 20px;
  margin-left: 5px;
}
.bank-logo-big{
  height: 60px;
  margin-right: 15px;
}
.shipping-price{
  float: right;
  font-weight: bold;
  padding: 15px 0;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
.note{
  color: red;
  font-style: italic;
}
.paymentTo{
  display: none;
}
table, table tr td{
  border: solid 1px #ddd;
  font-size: 12px;
}
.estimation{
  padding: 6px;
  font-weight: bold;
}

/********************************/
/*     Search Simple Custom     */
/********************************/
.simple-search{
  button{
    width: 100%;
  }
  .col-md-6, .col-md-4{
    padding-right: 0;
  }
}

.panel-collapse{
  table, table tr td{
    border: 0;
    font-size: 12px;
  }
}


/* contact */

.maps{
  width: 100%;
  height: 400px;
}


/********************************/
/*            CHAT BOX          */
/********************************/
.chat-window{
  position: fixed;
  width: 260px;
  height: 350px;
  z-index: 1002;
  margin: 0;
  bottom: 0;
  right: 40px;
  border-radius: 0;
}
.chat-window .panel-heading{
  background: #207CE5;
  color: #fff;
  padding: 7px;
  height: 33px;
  border-radius: 0;
  cursor: pointer;
}
.chat-window .panel-heading h3{
  font-size: 14px;
}
.chat-window .panel-heading span{
  float: right;
  margin-left: 6px;
  font-size: 13px;
}
.panel-form{
  border-top: 1px solid #ccc;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.panel-form input{
  height: 32px;
  border: 0;
  width: 100%;
  padding-left: 8px;
}
.panel-form .btn{
  background: #207CE5;
  color: #fff;
  padding: 2px 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-style: italic;
  font-size: 12px;
}
.chat-window .username{
  font-weight: bold;
  margin-top: 10px;
}
.chat-window .wellcome{
  font-size: 11px;
  margin-top: 10px;
}
.ava-list{
  border: solid 2px #f5f5f5;
  height: 60px;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.ava-list img{
  width: 100%;
}
.last-name{
  font-weight: bold;
  color: #207ce5;
}
.last-message{
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 3px;
  display: none;
}

.no-radius{
  border-radius: 0px!important;
}

.btn{
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  text-decoration: none;
}

/* LOGIN REGISTER PAGE */
.oshop-login-wrapper{
  background: url("#{asset_path('bg-login.jpg')}") no-repeat center center fixed!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  -webkit-background-size: cover!important;
  background-size: cover!important;
  opacity: 0.9;
  position: relative;
}

.oshop-login-wrapper .overlay-bg-login{
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -40px;
}

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
}

.blue:hover{
  color: #3498DB;
  background-color: #FFFFFF;
  border: 1px solid #3498DB;
  border-bottom: 5px solid #2980B9;
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.btn-green
{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
}

.btn-green:hover{
  color: #82BF56;
  background-color: #FFFFFF;
  border: 1px solid #82BF56;
  border-bottom: 5px solid #669644;
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}


.oshop-point-wrapper{
  margin-top: 10px;

  .oshop-point-info{
    display: inline-block;
    width: 100%;
    margin-top: 20px;

    .icon-point{
      float: left;
      width: 30%;
      height: 100px;

      .fa{
        font-size: 40px;
      }
    }

    .info-point{
      width: 70%;
      float: left;

      .title{
        font-size: 15px;
        color: #000000;
        padding-left: 0px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .description{
        font-size: 12px;
        color: #333333;
        padding-left: 0px;
      }
    }
  }
}

.well{
  float: left;
  width: 100%;
}

.content{
  float: left;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ececec;
  .properties{
    padding-left: 0;
    list-style: none;
    li{
      float: left;
      width: 25%;
      color: #777;
    }
  }
  .option{
    i{
      color: #5cb85c;
    }
  }

}

/*COVER USER PAGE*/
.cover-information-user{
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: -10px;
  position: relative;

  .cover-user-one{
    width: 100%;
    display: inline-block;
    margin-bottom: -5px;

    .info-user-left{
      width: 50%;
      float: left;
      display: inline-block;
      padding: 20px 30px;

      .box-avatar-user{
        width: 20%;
        float: left;
        background-color: #FFFFFF;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-top: -50px;

        .avatar-user{
          overflow: hidden;
          width: 100%;
          height: 100%;

          img{
            width: 100%;
            height: 100%;
          }
        }
      }

      .description{
        float: right;
        width: 80%;
        padding: 0px 10px;

        .username{
          font-size: 20px;
          font-weight: bold;
          color: #333333;
        }

        .start-join{
          font-size: 13px;
          color: #999;
          font-weight: 400;
        }
      }
    }

    .info-user-right{
      float: right;
      width: 50%;
      border-left: 1px solid #EAEAEA;
      height: 40px;
      padding: 12px;

      .share-this{
        width: 50%;
        float: left;
      }

      .action-contact{
        display: inline-block;
        float: right;
        width: 50%;

        a{
          display: block;

          .btn-contact-user{
            color: #207CE5;
            background-color: #FFFFFF;
            border-color: #207CE5;
            border-radius: 0px!important;
            -webkit-transition:all .4s ease-in-out!important;
            -moz-transition:all .4s ease-in-out!important;
            ms-transition:all .4s ease-in-out!important;
            -o-transition:all .4s ease-in-out!important;
            transition:all .4s ease-in-out!important;
            float: right;

            &:hover{
              background-color: #207CE5;
              color: #FFFFFF;
              -webkit-transition:all .4s ease-in-out!important;
              -moz-transition:all .4s ease-in-out!important;
              ms-transition:all .4s ease-in-out!important;
              -o-transition:all .4s ease-in-out!important;
              transition:all .4s ease-in-out!important;
            }
          }
        }
      }
    }

    .info-user-right-bottom{
      float: right;
      width: 50%;
      border-left: 1px solid #EAEAEA;
      height: 66px;
      padding: 12px;

      .impresionist{
        width: 40%;
        float: left;
      }
    }
  }

  .cover-user-second{
    display: inline-block;
    width: 100%;

    .info-location-left{
      width: 50%;
      float: left;
      padding: 0px 30px;

      .box-location{
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;

        i{
          font-size: 20px;
          color: #928F8F;
        }

        span{
          font-size: 13px;
        }

        a{
          text-decoration: none;
          color: #207CE5;
          font-size: 13px;
        }
      }
    }

    .info-desc-social{
      width: 50%;
      float: right;
      display: inline-block;
      border-left: 1px solid #EAEAEA;
      padding: 15px;
      border-top: 1px solid #eaeaea;

      .info-sharethis{
        width: 50%;
        float: left;
        display: inline-block;

        .box-contact{
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;

          .box-icon{
            width: 20%;
            float: left;

            .icon{
              background-color: #207CE5;
              margin-right: 10px;
              padding: 10px;
              width: 50px;
              height: 50px;
              border-radius: 10px;

              .fa{
                color: #FFFFFF;
                font-size: 26px;
                margin-left: 3px;
              }
            }
          }

          .box-body-contact{
            display: inline-block;
            float: right;
            width: 75%;

            .phone{
              color: #333333;
              font-size: 20px;
              font-weight: bold;
            }

            .desc{
              font-size: 15px;
              color: #9C9999;
            }
          }
        }
      }

      .info-contact{
        width: 50%;
        float: right;
        display: inline-block;

        .box-contact{
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;

          .box-icon{
            width: 20%;
            float: left;

            .icon{
              background-color: #207CE5;
              margin-right: 10px;
              padding: 10px;
              width: 50px;
              height: 50px;
              border-radius: 10px;

              .fa{
                color: #FFFFFF;
                font-size: 26px;
                margin-left: 3px;
              }
            }
          }

          .box-body-contact{
            display: inline-block;
            float: right;
            width: 75%;

            .phone{
              color: #333333;
              font-size: 20px;
              font-weight: bold;
            }

            .desc{
              font-size: 15px;
              color: #9C9999;
            }
          }
        }
      }
    }
  }
}

.slider #slider-product .slides > li {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.slider #slider-product .slides > li{

  .preview-image{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(85, 172, 29);
  }
}

.new-product-front{
  display: inline-block;
  width: 100%;

  .title-top-big{
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 15px;
    text-align: center;

    span{
      font-size: 25px;
      color: #175CAA;
      letter-spacing: 4px;
    }
  }

  textarea.form-control{
    height: 150px;
  }

  .popover{
    background-color: #5CB85C;
  }

  .popover.right > .arrow:after{
    border-right-color: #5CB85C;
  }

  .popover-content{
    width: 250px;
    background-color: rgb(92, 184, 92);
    color: #FFFFFF;
  }
}

.box-modal-report{
  display: inline-block;
  width: 100%;

  .report-header{
    width: 100%;
    padding: 10px;
    background-color: #AA171A;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  .report-body{
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
  }
}

.rating-star p{
  position: relative;
  line-height: 80px!important;
  text-align: center;
  font-size: 16px;
}
