div class="panel panel-default carousel-index-blog"
  div class="panel-body"
    div id="myCarousel" class="carousel slide" data-ride="carousel"
      div class="carousel-inner"
        - @carousel_blogs.each_with_index do |blog, index|
          div class="item #{'active' if index == 0}"
            = image_tag blog.cover.url(:medium)
            div class="carousel-caption"
              h4
                = link_to blog.title, blog_path(blog)
              p
                = truncate(strip_tags(blog.description), length: 100, omission: '...')

      ul class="list-group col-sm-4 frame-news"
        - @carousel_blogs.each_with_index do |blog, index|
          li data-target="#myCarousel" data-slide-to="#{index}" class="list-group-item #{'active' if index == 0}"
            = image_tag blog.cover.url(:thumb), class: 'thumb'
            = truncate(strip_tags(blog.title), length: 50, omission: '...')
            br
            span class="date"
              = blog.created_at.strftime("%I:%M %B, %d, %Y")

      div class="carousel-controls"
        a class="left carousel-control" href="#myCarousel" data-slide="prev"
          span class="glyphicon glyphicon-chevron-left"
        a class="right carousel-control" href="#myCarousel" data-slide="next"
          span class="glyphicon glyphicon-chevron-right"
