.row
  .col-xs-12.title-top-comments
    h4 align="center"
      | Komentar Pengunjung
    hr
  .col-xs-12
    - if current_user.present?
      .row.section-comments-group
        .col-md-2
          .avatar-author
            = image_tag current_user.try(:profile).try(:avatar).url(:small), class: 'host-profile-image'
        .col-md-10
          h5
            = current_user.try(:profile).try(:full_name)
          = form_for @blog.comments.new, url: comments_path, method: 'post' do |f|
            = f.hidden_field :commentable_type, value: @blog.class
            = f.hidden_field :commentable_id, value: @blog.id
            = f.text_area :comment, class: 'form-control'
            = f.submit :save, class: 'btn btn-default'
          hr
    - else
      small
        | Anda Harus <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"> Masuk</a> atau <a href="#signup" data-toggle="modal" data-target=".bs-modal-sm2">Daftar</a> Terlebih dahulu untuk memberikan komentar disini
      .break
      .break

    - @comments.each do |resource|
      .row.section-comments-group
        .col-md-2
          .avatar-author
            = image_tag resource.try(:user).try(:profile).try(:avatar).url(:small), class: 'host-profile-image'
        .col-md-10
          h5
            a href="mailto:#{resource.try(:user).try(:email)}"
              | &nbsp;
              = resource.try(:user).try(:profile).try(:full_name)
          p.p_comment
            = resource.comment
          small.text-muted
            | From
            = resource.try(:user).try(:address).try(:city)
            | ,&nbsp;
            = resource.try(:user).try(:address).try(:province)
            | ,&nbsp;
            = resource.try(:created_at).strftime("%H:%M %B, %d, %Y")
          hr
