div class="col-md-4 col-xs-12 sidebar"
  div class="panel panel-default"
    div class="panel-body"
      ul id="myTab" class="nav nav-tabs" role="tablist"
        li role="presentation" class="active"
          a href="#foto" id="home-tab" role="tab" data-toggle="tab" FOTO
        li role="presentation" class=""
          a href="#video" role="tab" id="profile-tab" data-toggle="tab" VIDEO

      div id="myTabContent" class="tab-content"
        div role="tabpanel" class="padding-top20 tab-pane fade active in" id="foto"
          div class="row"
            div class="col-xs-12"
              div class="show-blog"
                = link_to blog_path(@gallery_featured) do
                  = image_tag @gallery_featured.cover.url(:thumb), class: 'media-object thumb-full'
            div class="col-xs-12"
              span class="title-big"
                = link_to @gallery_featured.title, blog_path(@gallery_featured)
              br
              small class="date color-grey"
                = @gallery_featured.created_at.strftime("%I:%M %B, %d, %Y")
              hr

          - @fotos.limit(4).each do |blog|
            div class="media"
              div class="media-left"
                = link_to blog_path(blog) do
                  = image_tag blog.cover.url(:thumb), class: 'media-object thumb'
              div class="media-body"
                h5 class="media-heading"
                  = link_to blog.title, blog_path(blog)
                p class="posted-date"
                  small class="color-grey"
                    = blog.created_at.strftime("%I:%M %B, %d, %Y")

        div role="tabpanel" class="tab-pane fade" id="video"
          ul class="list-unstyled video-list-thumbs"
            - @videos.limit(4).each do |blog|
              li
                div class="col-md-12 col-xs-12 video"
                  = link_to blog_path(blog)
                    .img-video
                      = image_tag blog.cover.url(:thumb), class: 'img-responsive'
                    span class="glyphicon glyphicon-play-circle"
                div class="col-md-12 col-xs-12"
                  span
                    = link_to blog.title, blog_path(blog)
                  br
                  small class="date"
                    = blog.created_at.strftime("%I:%M %B, %d, %Y")
