/ ul class="list-group"
/   a href="#" class="list-group-item"
/     | <i class="fa fa-newspaper-o"></i> News

div class="panel panel-default"
  div class="panel-body"
    h4 BERITA PILIHAN
    - @featureds.each do |blog|
      div class="media"
        div class="media-body"
          h5 class="media-heading"
            = link_to blog.title, blog_path(blog)
          p class="posted-date"
            small class="color-grey"
              = blog.created_at.strftime("%I:%M %B, %d, %Y")

div class="panel panel-default"
  div class="panel-body"
    h4 TERBANYAK DIBACA
    ol class="ol"
      - @headlines.each do |blog|
        li
          = link_to blog.title, blog_path(blog)
- unless params[:controller] == 'blogs' && params[:action] == 'index'
  .panel.panel-default
    .panel-body
      h4 ARTIKEL TERKAIT
      - @blogs.each_with_index do |blog, index|
        .list-blog-sidebar
          .row
            .col-md-12.col-sm-12.col-xs-12
              .box-sidebar-blog
                .box-left
                  .image-blog
                    = image_tag blog.cover.url(:thumb)
                .box-right
                  .title
                    = link_to blog.title, blog_path(blog)
                  .datetime
                      = blog.created_at.strftime("%I:%M %B, %d, %Y")

