div class="col-md-8 col-xs-12"
  div class="tab-info-right"
    div class="panel with-nav-tabs panel-primary"
      div class="panel-heading"
        ul class="nav nav-tabs"
          li class="active"
            a href="#tab_1primary" data-toggle="tab" Semua Berita
          - @category_blogs.each_with_index do |category, index|
            li
              a href="#tab_#{category.id}" data-toggle="tab" #{category.name}
      div class="panel-body"
        div class="tab-content"
          div class="tab-pane fade active in" id="tab_1primary"
            - @tab_blogs.limit(5).each do |blog|
              div class="list-blog"
                div class="row"
                  div class="col-md-12 col-xs-12"
                    = link_to blog_path(blog) do
                      = image_tag blog.cover.url(:thumb), class: 'thumb'
                    time class="date"
                      span class="category"
                        = link_to category_blog_path(blog.category_blog)
                          | #{blog.category_blog.name},
                        | <small>#{blog.created_at.strftime("%I:%M %B, %d, %Y")}</small>
                    h4
                      = link_to blog.title, blog_path(blog)
                    p
                      = truncate(strip_tags(blog.description), length: 100, omission: '...')

          - @category_blogs.each_with_index do |category, index|
            div class="tab-pane fade" id="tab_#{category.id}"
              - category.blogs.scope_blog.verified.latest.limit(5).each do |blog|
                div class="list-blog"
                  div class="row"
                    div class="col-md-12 col-xs-12"
                      = link_to blog_path(blog) do
                        = image_tag blog.cover.url(:thumb), class: 'thumb'
                      time class="date"
                        span class="category"
                          = link_to category_blog_path(blog.category_blog)
                            | #{blog.category_blog.name},
                          | <small>#{blog.created_at.strftime("%I:%M %B, %d, %Y")}</small>
                      h4
                        = link_to blog.title, blog_path(blog)
                      p
                        = truncate(strip_tags(blog.description), length: 100, omission: '...')
