.top-bar
  .container
    div class="col-md-8 col-sm-6 col-xs-12"
      = link_to root_path do
        = image_tag @setting.logo.url(:small), class: 'brand'

    div class="col-md-4 col-sm-6 col-xs-12"
      div class="col-xs-12"
        div class="top-menu-right"
          a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"
            | Sign In | 
          a href="#signup" data-toggle="modal" data-target=".bs-modal-sm2"
            | Sign Up
        div class="section-social-lg-top"
          a href="#{@setting.facebook}" class="btn btn-social-icon btn-facebook color-white"
            i class="fa fa-facebook"
          a href="#{@setting.twitter}" class="btn btn-social-icon btn-twitter color-white"
            i class="fa fa-twitter"
      div class="col-xs-12"
        = form_for :search, url: results_blogs_path(params), method: 'get' do
          div id="custom-search-input pull-right"
            div class="input-group col-md-12"
              = text_field_tag :key, nil, class: 'form-control', placeholder: 'Kotak Pencarian...'
              span class="input-group-btn"
                button class="btn btn-info" type="submit"
                  i class="glyphicon glyphicon-search"

div id="top-navigation"
  nav class="navbar-default" role="navigation"
    div class="container"
      div class="navbar-header"
        button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs"
          span class="sr-only"
          span class="icon-bar"
          span class="icon-bar"
          span class="icon-bar"

      div class="collapse navbar-collapse" id="bs-megadropdown-tabs"
        ul class="nav navbar-nav"
          li 
            = link_to 'Beranda', blogs_path
          - @category_blogs.each do |category|
            li
              = link_to category.name, category_blog_path(category)