/*
  Theme   : Kementerian Komunikasi dan Informatika
  Company : Creative Design Jakarta
  Author  : Alam Topani Herdiansyah
  Themeindo Theme
  Version 1
*/

/********************************/
/*      Components Custom       */
/********************************/
body{
  font-family: Helvetica;
  font-size:13px;
  color:#333333;
}
a{
  color: #555;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  ms-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out

}
a:hover{
  text-decoration: none;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  ms-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}
.bold{
  font-weight: bold;
}

/********************************/
/*            Top Bar           */
/********************************/
.top-bar{
  border-bottom: 1px solid #015383;
  padding: 6px 0;
  width: 100%;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -ms-box-shadow: 0 0 4px #000000;
  -o-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
}
#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}
#custom-search-input input{
  border: 0;
  box-shadow: none;
}
#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}
#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}
.glyphicon-search{
  padding: 3px 0!important;
}
.section-social-lg-top .btn{
  font-size: 16px;
  float: right;
  color: #015383;
}
.section-social-lg-top a:hover{
  color: #5bc0de;
}
.section-social-lg .btn{
  font-size: 16px;
  float: right;
}
.section-social-lg a:hover{
  color: #5bc0de;
}
.top-menu-right{
  float: right;
  color: #fff;
  padding: 6px 0;
}
.top-menu-right a{
  color: #015383;
  padding: 0 4px;
}
.top-menu-right a:hover{
  color: #5bc0de!important;
}
.top-menu-right-bottom{
  float: right;
  color: #fff;
  padding: 6px 0;
}
.top-menu-right-bottom a{
  color: #fff;
  padding: 0 4px;
}
.top-menu-right-bottom a:hover{
  color: #5bc0de!important;
}
.breaking{
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
}
.breaking b{
  color: #5bc0de;
}

/********************************/
/*      Custom Menu Dropdown    */
/********************************/
.navbar-default .navbar-toggle .icon-bar{
  background: #fff;
}
.navbar-default{
  background: #175CAA;
}
.navbar-nav>li>a {
  font-size: 12px;
  text-transform: uppercase;
}
.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li {
  padding: 20px 15px 15px;
  border-left: 1px solid #eee;
}
.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.dropdown-menu{
  border: none;
  width: 200px;
}
.list-dropdown-menu{
  padding: 0;
}
.list-dropdown-menu li a{
  padding: 10px 10px;
  border-bottom: 1px solid #f5f5f5;
  color: #555;
  background-color: #fff;
}
.list-dropdown-menu li a:hover{
  color: #fff;
  background: #5bc0de;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
  background: #207ce5;
  color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus ,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  background: #fff;
  color: #555;
}


/********************************/
/*      Sidebar Content         */
/********************************/
.sidebar h4{
  color: #555;
  margin-top: 0;
}
.sidebar .media{
  border-bottom: dashed 1px #f5f5f5;
  padding-bottom: 5px;
}
.sidebar .list-group-item{
  color: #015383;
  font-size: 15px;
  background: none;
  border: none;
}
.sidebar .list-group-item:hover{
  color: #5bc0de;
}
.thumb{
  width: 85px!important;
  height: 65px!important;
}
.ol{
  padding-left: 20px;
}
.ol li {
  margin-bottom: 10px;
}
.ol li a{
  color: #1979D0;
}
.title-big a{
  font-size: 15px;
  color: #1979D0;
}

/********************************/
/*        Carousel News         */
/********************************/
#myCarousel .carousel-caption {
  left:0;
  right:0;
  bottom:0;
  text-align:left;
  padding:10px;
  background:rgba(0,0,0,0.6);
  text-shadow:none;
}
#myCarousel .list-group {
  position:absolute;
  top:0;
  right:0;
  padding: 0;
}
#myCarousel .list-group-item {
  border-radius:0px;
  cursor:pointer;
  float: left;
  width: 100%;
  color: #555;
  border: solid 1px #ccc;
  font-size: 12px;
}
#myCarousel .list-group-item:nth-of-type(odd) {
  background-color: #f5f5f5;
}
#myCarousel .list-group .active {
  background-color: #555;
  color: #fff!important;
  border: solid 1px #555;
}
#myCarousel .list-group .active .date{
  color: #ccc;
}
#myCarousel .list-group-item .thumb{
  float: left;
  width: 60px!important;
  height: 50px!important;
  margin-right: 5px;
  border: solid 1px #555;
}
#myCarousel .carousel-caption h4 a{
  color: #f5f5f5;
  font-size: 18px;
}
#myCarousel .item{
  margin: 0;
  padding: 0;
}
#myCarousel .list-group-item .date{
  font-size: 10px;
  color: #aaa;
}
.frame-news {
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}
.frame-news .list-group-item{
  padding: 8px;
}

@media (min-width: 992px) {
  #myCarousel {padding-right: 33.3333%;}
  #myCarousel .carousel-controls {display:none;}
}
@media (max-width: 991px) {
  .carousel-caption p,
  #myCarousel .list-group {display:none;}
}

.carousel-news-gallery{
  width: 100%;
  margin-bottom: 10px;
  background: #000;
  border: solid 1px #ccc;
  padding: 1px;
}
.carousel-news-gallery .item img{
  width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators {
  bottom: -10px;
  left: 0;
  margin-left: 5px;
  width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 70px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
  border: 2px solid #FFFFFF;
  float: left;
  height: 70px;
  left: 0;
  width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
  border: 2px solid #428BCA;
  opacity: 0.7;
}

/********************************/
/*          Panel Default       */
/********************************/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.panel-primary, .panel-default{
  border: solid 1px #f5f5f5!important;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #175CAA;
  border-color: #015383;
}
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #428bca;
  border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
  background-color: #d6e9c6;
  border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
  color: #3c763d;
  background-color: #fff;
  border-color: #d6e9c6;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
  background-color: #bce8f1;
  border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
  color: #31708f;
  background-color: #fff;
  border-color: #bce8f1;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
  background-color: #faebcc;
  border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
  color: #8a6d3b;
  background-color: #fff;
  border-color: #faebcc;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
  background-color: #ebccd1;
  border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
  color: #a94442;
  background-color: #fff;
  border-color: #ebccd1;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f2dede; /* bg color */
  border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #a94442; /* normal text color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff; /* active text color */
  background-color: #a94442; /* active bg color */
}
.nav-tabs > li > a {
  position: relative;
  display: block;
  padding: 10px!important;
}
.panel-default .panel-body h4{
  margin-top: 0;
}

/********************************/
/*          List Blog           */
/********************************/
.list-blog{
  float: left;
  width: 100%;
  padding: 10px 0;
  border-bottom: dashed 1px #ccc;
}
.list-blog-body{
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border: none!important;
  margin-bottom: 10px;
}

/*sidebar*/

.list-blog-sidebar{
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  border: none!important;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px dashed #ccc!important;
}

.list-blog-sidebar .box-sidebar-blog{
  display: inline-block;
  width:  100%;
}

.list-blog-sidebar .box-sidebar-blog .box-left{
  width: 30%;
  float: left;
  display: inline-block;
}

.list-blog-sidebar .box-sidebar-blog .box-left .image-blog{
  overflow: hidden;
  width: 100%;
  height: 80px;
}

.list-blog-sidebar .box-sidebar-blog .box-left .image-blog:hover{
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.list-blog-sidebar .box-sidebar-blog .box-left .image-blog img{
  width: 100%;
  height: 100%;
}

.list-blog-sidebar .box-sidebar-blog .box-right{
  width: 70%;
  float: right;
  display: inline-block;
  padding: 0px 10px;
}

.list-blog-sidebar .box-sidebar-blog .box-right .title{
  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
}

.list-blog-sidebar .box-sidebar-blog .box-right .datetime{
  font-size: 12px;
  color: #A6A6A6;
  font-style: italic;
  margin-bottom: 5px;
}

.list-blog-sidebar .box-sidebar-blog .box-right .category{
  background-color: #175CAA;
  padding: 5px;
  font-size: 10px;
  display: inline-block;
  margin-bottom: 5px;
}

.list-blog-sidebar .box-sidebar-blog .box-right .category span a{
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

/*sidebar*/

.list-blog .date{
  color: #aaa;
}
.list-blog .category a{
  text-transform: uppercase;
  color: #1979D0;
  font-weight: bold;
}
.list-blog .thumb{
  width: 140px!important;
  margin-right: 15px;
  height: auto!important;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  padding: 2px;
  float: left;
}
.list-blog .thumb:hover{
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.show-blog .thumb{
  width:40%!important;
  height: auto!important;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border: solid 1px #f5f5f5;
  padding: 5px;
}
.show-blog .thumb-full{
  width:100%!important;
  height: auto!important;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border: solid 1px #f5f5f5;
  padding: 5px;
}
.show-blog h4, .show-blog h3, .show-blog h2{
  margin-top: 0;
}
.show-blog .category a{
  text-transform: uppercase;
  color: #1979D0;
  font-weight: bold;
}
.col-3-blog{
  padding: 0;
}


/********************************/
/*          List Link           */
/********************************/
.link-list{
  padding-left:0;
  list-style: none;
}
.link-list li a{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3)!important;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.link-list li a.hover-link-list{
  background: #000!important;
}
.link-list li a.hover-link-list:hover{
  background: #000!important;
}
.link-list li img{
  width: 100%;
}
.link-list .link-list-title{
  width: 100%;
  padding: 10px;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 40%;
  background: rgba(0,0,0, 0.4);
  color: #fff;
}

/********************************/
/*          Fonts Custom        */
/********************************/
.float-right{
  float: right;
}
.float-left{
  float: left;
}

/********************************/
/*         Margin Custom        */
/********************************/
.margin-bottom10{
  margin-bottom: 10px;
}
.margin-bottom20{
  margin-bottom: 20px;
}
.margin-bottom30{
  margin-bottom: 30px;
}
.margin-top10{
  margin-top: 10px;
}
.margin-top12{
  margin-top: 12px;
}
.margin-top20{
  margin-top: 20px;
}
.margin-top30{
  margin-top: 30px;
}

/********************************/
/*        Padding Custom        */
/********************************/
.padding-top10{
  padding-top: 10px;
}
.padding-top20{
  padding-top: 20px;
}
.padding-top30{
  padding-top: 30px;
}

/********************************/
/*        Padding Custom        */
/********************************/
.thumbnail{
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border: none;
}
/********************************/
/*          Fonts Custom        */
/********************************/
.color-dark{
  color: black;
}
.color-red{
  color: red;
}
.color-blue{
  color: #1779bb;
}
.color-white{
  color: white;
}
.color-grey{
  color: #aaa;
}
.color-green{
  color: #00a388;
}
.italic{
  font-style: italic;
}
.uppercase{
  text-transform: uppercase;
}
.error-fonts{
  font-size: 200px;
  font-weight: normal;
}

/********************************/
/*         Media Carousel       */
/********************************/
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 50px;
}
.media-carousel .carousel-control.left
{
  left: -12px;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #555;
  background: none!important;
  top: -27px;
}
.media-carousel .carousel-control.right
{
  right: -12px !important;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #555;
  background: none!important;
  top: -27px;
}
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  max-height: 200px;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  ms-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}
.media-carousel img:hover{
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  ms-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}


/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}

/********************************/
/*          Go To TopUp         */
/********************************/
.toup {
  padding: 10px;
  line-height: 45px;
  right: 40px;
  bottom: 30px;
  z-index: 99;
  position: fixed;
  text-align: center;
  color: #ffffff !important;
  font-size: 20px;
  background: #1979D0;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  display: none;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/********************************/
/*          Gmap3               */
/********************************/
.gmap3{
  height: 400px;
  width: 100%;
}

/********************************/
/*      Breadcrumb Section      */
/********************************/
.breadcrumb{
  margin-bottom: 0;
}
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -12px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:3px 10px 3px 15px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px;
}
.btn-breadcrumb .btn:last-child {
  padding:3px 10px 3px 15px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #e6e6e6;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #337ab7;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #f5f5f5;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #286090;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}

/********************************/
/*          Custom Section      */
/********************************/
section{
  width: 100%;
  float: left;
  padding: 20px 0;
}
section.triangle{
  padding-top: 0;
}
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
section.grey{
  background: #f5f5f5;
}
section.gradient-grey{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
section h1{
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #018763;
  font-size: 36px;
  letter-spacing: 0.3px;
  font-weight: bold;
}
section .desc-section-p{
  text-align: center;
  margin-bottom: 30px;
}
section .section-social .btn{
  font-size: 18px;
}
section .section-social{
  margin: auto;
  display: table;
}
section#blog article h4 a{
  color: #1779bb!important;
}
section#blog .date{
  color: #aaa;
  font-size: 12px;
}
section#blog article p{
  text-align: justify;
  color: #000;
}
section h2.page-header{
  text-align: center;
}
section#service .box-icon:hover{
  background: #018763!important;
  border:solid 2px #ccc;
  cursor: pointer;
}
.hr{
  height: 4px;
  width: 300px;
  margin: auto;
  display: table;
  display: block;
  margin-bottom: 40px;
  background: #1979D0;
}

/********************************/
/*         Masonry Section      */
/********************************/
.masonry { /* Masonry container */
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
.masonry .item { /* Masonry bricks or child elements */
  background-color: #fff;
  border: solid 1px #f5f5f5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 4px;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
.masonry .item:hover {
  border: solid 1px #ccc;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.75);
}
.masonry .item img{
  width: 100%;
}
.masonry .item h5{
  text-align: center;
  color: #1979D0;
}
.masonry .item p{
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/********************************/
/*           Custom Col         */
/********************************/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 10px;
  padding-right: 10px;
}
.row{
  margin-left: -10px;
  margin-right: -10px;
}

/********************************/
/*         Table Section        */
/********************************/
.custab{
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  font-size: 14px;
}
.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
.custab th{
  background: #5bc0de;
  color: #fff;
}
.vertical-align{
  vertical-align: middle !important;
}
.custab > thead > tr > th, .custab > tbody > tr > th, .custab > tfoot > tr > th, .custab > thead > tr > td, .custab > tbody > tr > td, .custab > tfoot > tr > td{
  border: 1px solid #ddd;
}

/********************************/
/*        Parallax Section      */
/********************************/
.parallax{
  padding: 0;
}
.ha-bg-parallax {
  background: #000;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 200px;
  margin: 0 auto;
  width: 100%;
  display: table;
  vertical-align: middle;
}
.ha-bg-parallax .ha-parallax-body {
  display: table-cell;
  vertical-align: middle;
}
.ha-bg-parallax .ha-content-whitecolor {
  font-size: 17px;
  color: #ffffff;
  width: 45%;
  margin: auto;
}
.ha-bg-parallax .ha-diamond-divider-md {
  margin: 15px 0px;
}
.ha-bg-parallax .ha-heading-parallax {
  font-style: italic;
  font-weight: bold;
  text-transform: none;
  color: #ffffff;
  padding-bottom: 0px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width:100%;
    float: left;
    clear: left;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  .timeline > li.timeline-inverted{
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .timeline > li.timeline-inverted > .timeline-badge{
    left: 28px;
  }
}

/********************************/
/*           Video List         */
/********************************/
.video-list-thumbs{}
.video-list-thumbs > li{
  width: 100%;
  float: left;
  border-bottom: dashed 1px #ccc;
  padding: 10px 0;
}
.video-list-thumbs > li div{
  padding: 0;
}
.video-list-thumbs > li .date{
  color: #aaa;
}
.video-list-thumbs > li .video{
    margin-bottom:12px
}

.video-list-thumbs > li .video .img-video{
overflow: hidden;
width: 100%;
height: 120px;
}

.video-list-thumbs > li .video img{
  width: 100%;
  height: 100%;
}
.video-list-thumbs > li > .video:last-child{}
.video-list-thumbs > li > .video > a{
  display:block;
  position:relative;
  background-color: #212121;
  color: #fff;
  padding: 8px;
  border-radius:3px
}
.video-list-thumbs > li > .video > a:hover{
  background-color:#000;
  transition:all 500ms ease;
  box-shadow:0 2px 4px rgba(0,0,0,.3);
  text-decoration:none
}
.video-list-thumbs h2{
  bottom: 0;
  font-size: 14px;
  height: 33px;
  margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
  font-size: 60px;
  opacity: 0.6;
  position: absolute;
  right: 39%;
  top: 31%;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.video-list-thumbs > li > .video > a:hover .glyphicon-play-circle{
  color:#fff;
  opacity:1;
  text-shadow:0 1px 3px rgba(0,0,0,.8);
  transition:all 500ms ease;
}
.video-list-thumbs .duration{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  left: 12px;
  line-height: 13px;
  padding: 2px 3px 1px;
  position: absolute;
  top: 12px;
}
.video-list-thumbs > li > .video > a:hover .duration{
  background-color:#000;
  transition:all 500ms ease;
}
@media (min-width:320px) and (max-width: 480px) {
  .video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
  }
  .video-list-thumbs h2{
    bottom: 0;
    font-size: 12px;
    height: 22px;
    margin: 8px 0 0;
  }
}

/********************************/
/*          Box Custom          */
/********************************/
.section-box{
  background-image: url("../images/parallax.jpg");
}
.section-box h1{
  color: #f5f5f5;
}
.box {
  border-radius: 3px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  text-align: right;
  display: block;
  margin-top: 60px;
}
.box-icon {
  border-radius: 50%;
  display: table;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-top: -61px;
}
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  color: black;
}
.info h5 {
  color: #aaa;
  font-size: 16px;
}
.info > p {
  color: #717171;
  font-size: 16px;
  padding-top: 10px;
  text-align: justify;
}
.info > a {
  background-color: #03a9f4;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.info > a:hover {
  background-color: #0288d1;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.img-circle {
  border-radius: 50%;
  width: 100%;
}
.width-auto{
  width: auto!important;
}

/********************************/
/*           Masonry            */
/********************************/
.masonry { /* Masonry container */
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

/********************************/
/*         Comment Section      */
/********************************/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}

/********************************/
/*            Bootstrap         */
/********************************/
.input-group-addon {
  padding: 6px 15px;
}

/********************************/
/*          Panel Custom        */
/********************************/
.panel-about > .panel-heading {
  color: #fff;
  background-color: #1779bb;
  border-color: #0d7cfe;
}

/********************************/
/*        Isotope Custom        */
/********************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}


/********************************/
/*         News Ticker          */
/********************************/
/*content-middle-home*/
.content-middle-home{ }
.content-middle-home .streaming-twitter{ }
.content-middle-home .streaming-twitter .twitter-body{
  margin-top: 14px!important;
}
.content-middle-home .tab-info-right p{
  padding-top: 10px!important;
}
/*content-news-top*/
.content-news-home p{
  padding-top: 10px!important;
  text-align: justify!important;
}
/*ticker news*/
.news-ticker-wrapper{
  margin-top: 10px!important;
}
.news-ticker-section{
  background: #555;
  padding: 0px 20px;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 0px solid #000000;
  width: 100%;
  float: left;
  padding: 10px 20px;
}
.ticker-wrapper.has-js {
  height: 42px;
  display: block;
  width: 800px;
  font-size: 13px;
}
.ticker {
  width: 700px;
  height: 42px;
  display: block;
  position: relative;
  overflow: hidden;
  left: -16px;
}
.ticker-title {
  display: none;
}
.ticker-content {
  margin: 0px;
  position: absolute;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  line-height: 42px;
}
.ticker-content:focus {
  none;
}
.ticker-content a {
  text-decoration: none;
  color: #fff;
}
.ticker-content a:hover {
  text-decoration: none;
  color: #3d566e;
}
.ticker-swipe {
  padding-top: 16px;
  position: absolute;
  top: 0px;
  background: rgba(248,80,50,1);
  background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(51%, rgba(241,111,92,1)), color-stop(89%, rgba(240,47,23,1)), color-stop(99%, rgba(246,41,12,1)), color-stop(100%, rgba(231,56,39,1)));
  background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
  display: block;
  width: 800px;
  height: 42px;
}
.ticker-swipe span {
  margin-left: 1px;
  background: rgba(248,80,50,1);
  background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(51%, rgba(241,111,92,1)), color-stop(89%, rgba(240,47,23,1)), color-stop(99%, rgba(246,41,12,1)), color-stop(100%, rgba(231,56,39,1)));
  background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 89%, rgba(246,41,12,1) 99%, rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
  border-bottom: 1px solid #1979D0;
  height: 12px;
  width: 7px;
  display: block;
}
.js-hidden {
  display: none;
}
.no-js-news {
  padding: 10px 0px 0px 10px;
  color: #fff;
}
.left .ticker-swipe {
  left: 80px;
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
  float: left;
}
.left .ticker-controls {
  padding-left: 0;
}
.right .ticker-swipe { /*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
  float: right;
}
.right .ticker-controls {
  padding-right: 6px;
}
.news-ticker-section a{
  color: white;
}

/********************************/
/*         Iframe Custom        */
/********************************/
iframe#twitter-widget-0{
  width: 100%!important;
}

/********************************/
/*          Error Page          */
/********************************/
.error-body{
  margin-bottom: 100px;
}
.error-body h1{
  font-size: 160px;
  font-weight: normal;
  text-shadow: 3px 2px #000;
}
.error-body span{
  font-size: 50px;
}
.error-body a{
  color: #1979D0!important;
}
.error-body img{
  margin: auto;
  display: table;
  width: 50%;
  margin-bottom: 50px;
}
.error-500 h1{
  color: #e73827!important;
  margin: 0;
}
.error-500 img{
  margin-bottom: 0px;
}
.error-404 img{
  width: 300px;
}

/********************************/
/*        Devise Content        */
/********************************/
.btn-primary-fb {
  color: #fff;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 10px;
  border-radius: 0px;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}
.btn-primary-fb:hover{
  opacity: 0.9;
  color: #357ebd;
  background-color: #FFFFFF;
  border-color: #357ebd;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}
.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}
.controls{
  margin-top: 10px;
}
.remember{
  margin-right: 5px;
}
.modal-content h3{
  margin: 0;
}
.btn-primary-fb {
  color: #fff;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
.btn-primary-fb:hover{
  opacity: 0.9;
  color: #fff;
}
.or-section{
  margin: 10px 0 15px 0;
}
.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}
.form-devise .form-group {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.form-devise form{
  background: #fff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}
.form-devise .controls{
  margin-top: 10px;
}

/********************************/
/*         Footer Custom        */
/********************************/
footer .bottom-footer{
  padding: 20px 0;
  background: #191919;
  border-bottom: 2px solid #000;
  width: 100%;
  float: left;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -ms-box-shadow: 0 0 4px #000000;
  -o-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
  color: white;
  font-size: 12px;
}
footer .bottom-footer p{
  text-transform: uppercase;
  padding-top: 10px;
}
footer .bottom-footer a i.fa:hover{
  color: #FFF;
}

footer h1{
  text-align: center;
  padding-bottom: 40px;
}
footer h4{
  color: #fff;
  font-weight: bold;
}
footer a{
  color: #fff;
}
footer a:hover{
  color: #f5f5f5;
}
footer p{
  color: #f5f5f5;
}
footer ul{
  padding-left: 0;
  list-style: none;
}


/********************************/
/*        Mobile Custom         */
/********************************/
@media(max-width: 1000px){
  .container{
    padding: 0;
    width: 90%!important;
  }
  .masonry { /* Masonry container */
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }
}

@media(max-width: 900px){
  .container{
    padding: 0;
    width: 90%!important;
  }
  .video img{
    width: 100%;
  }
  .news-ticker-section-home{
    margin-bottom: 20px;
  }
  .streaming-twitter{
    margin-top: 10px;
  }
}

@media(max-width: 767px){
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #106ABB;
  }
  .navbar-nav>li>a {
    padding: 10px 10px;
    border-bottom: 1px solid #106ABB;
  }
  .list-dropdown-menu li a{
    padding: 10px 10px!important;
    border-bottom: 1px solid #000;
    color: #fff!important;
    background-color: #555;
  }
  .list-dropdown-menu li a:hover{
    background: #207ce5!important;
    color: #fff;
  }
  .error-body h1{
    font-size: 100px!important;
    font-weight: normal;
    text-shadow: 1px 2px #000;
  }
  .error-body span{
    font-size: 20px!important;
  }
  .error-body img{
    width: 90%;
  }
}

@media(max-width: 600px){
  h1{
    font-size: 25px!important;
  }
  h2{
    font-size: 20px!important;
  }
  h3{
    font-size: 18px!important;
  }
  h4{
    font-size: 16px!important;
  }
  h5{
    font-size: 14px!important;
  }
  h6{
    font-size: 12px!important;
  }
  .brand{
    width: 100%;
  }
  .container{
    padding: 0;
    width: 90%;
  }
  .masonry { /* Masonry container */
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }
  .show-blog .thumb{
    width:100%!important;
  }
  .list-blog .thumb{
    width:100%!important;
  }
  .nav-tabs li{
    width: 100%;
  }
  .section-social-lg .btn{
    font-size: 12px;
    padding: 6px 5px;
  }
}

@media(max-width: 400px){
  body{
    font-size: 12px;
  }
  .top-bar{
    font-size: 10px;
  }
  .top-bar .brand{
    width: 90%;
  }
  .navbar-nav>li>a {
    font-size: 12px;
  }
  .list-dropdown-menu{
    font-size: 11px;
  }
  .container{
    width: 92%!important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-blog .thumb{
    width: 100%!important;
  }
  footer{
    font-size: 11px;
  }
  .bottom-footer{
    font-size: 10px!important;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 15px;
  }
}


/*COMMENT*/
.title-top-comments{
  background-color: #FFFFFF;
  margin-top: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.section-comments-group{
  background-color: #FFFFFF;
}

.section-comments-group:last-child{
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
}

.avatar-author{
  padding: 0!important;
  border: solid 2px #ccc;
  border-radius: 50%;
  overflow: hidden;
  height: 95px;
  width: 95px;
}
.avatar-author img {
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.carousel-index-blog .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 400px;
}

.carousel-index-blog .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: auto;
  height: 400px;
  margin: auto;
}

.carousel-index-blog #myCarousel .item{
  background-color: #000000;
}
