section.wallpaper
  .container
    .row
      .col-md-6.col-xs-12
        .col-md-3
          .avatar-author
            = image_tag @user.try(:profile).try(:avatar).url(:medium)
        .col-md-9.info-avatar-user
          p
            h3.brand-shop
              = link_to @user.try(:profile).try(:full_name), user_path(@user), target: '_blank'
            | #{image_tag 'wa.png', class: 'bbm-icon'} #{@user.try(:contact).try(:phone) || '--'} &nbsp; #{image_tag 'bbm.png', class: 'bbm-icon'} #{@user.try(:contact).try(:pin) || '--'}
            br
            .break
            - if current_user.present?
              = link_to '<i class="fa fa-heart"></i> Simpan Sebagai Favorit'.html_safe, wishlist_favorites_path(id: @user.id, type: 'User'), method: 'get', class: "btn btn-danger post-center"
            - else
              | <a href="#signin" class= "btn btn-danger post-center" data-toggle="modal" data-target=".bs-modal-sm"> <i class="fa fa-heart"></i> Simpan Sebagai Favorit</a>
      .col-md-6.col-xs-12
        .row
          .featured-section
            - @user_products.each do |resource|
              div class="col-xs-2 author-item pull-right" data-toggle="popover" title="#{resource.title}"
                .tooltips-content
                  .tooltips-image
                    = image_tag resource.try(:galleries).try(:first).try(:file).url(:small)
                  .tooltips-tag
                    = resource.try(:parent_category).try(:name)
                  span.tooltips-price
                    = get_currency(resource.price) if resource.price.present?
                = link_to product_path(resource), class: "item" do
                  = image_tag resource.try(:galleries).try(:first).try(:file).url(:thumb)
        .pull-right
          | Iklan Lainnya di 
          = link_to @user.try(:profile).try(:full_name), user_path(@user)
