.row
  .content
    .col-xs-12
      h3.title
        = @product.title
      .option
        small.color-grey
          i class="fa fa-bookmark-o"
          = @product.category.titleize if @product.category.present?

          | &nbsp;
          i class="fa fa-tag"
          | #{@product.try(:sub_category).try(:name)} , #{@product.try(:parent_category).try(:name)}

          | &nbsp;
          i class="fa fa-map-marker"
          = @product.try(:address).try(:place_info)
      hr
        span Bagikan :
        | <span class='st_sharethis' displayText='ShareThis'></span><span class='st_facebook' displayText='Facebook'></span><span class='st_twitter' displayText='Tweet'></span><span class='st_linkedin' displayText='LinkedIn'></span><span class='st_pinterest' displayText='Pinterest'></span><span class='st_email' displayText='Email'></span>
        - if current_user
          = link_to "#{@product.score} Suka <i class='fa fa-thumbs-up'></i>".html_safe, upvote_product_path(@product), class: "btn btn-info pull-right btn-xs"
        - else
          a href="#signin" class= "btn btn-info pull-right btn-xs" data-toggle="modal" data-target=".bs-modal-sm"
            = @product.score
            | &nbsp; Suka <i class='fa fa-thumbs-up'></i>
      .break
    .col-xs-12.col-md-12
      .slider
        #slider-product.flexslider
          ul.slides
            - @product.galleries.available.each do |g|
              li
                = image_tag g.file.url(:large), 'data-toggle' => 'magnify'
                .preview-image
                  = image_tag 'icon-max.png', 'data-sgallery' => 'Sukabumi Marketplace', title: 'Sukabumi Marketplace', 'data-full' => "#{ g.file.url(:large) }", 'data-thumb' => "#{ g.file.url(:large) }"
            - if @product.galleries.available.blank?
              li
                = image_tag 'no-image.png'

        #carousel-product.flexslider
          ul.slides
            - @product.galleries.available.each do |g|
              li
                = image_tag g.file.url(:small)
            - if @product.galleries.available.blank?
              li
                = image_tag 'no-image.png'
    .col-xs-12.col-md-12
      .well
        ul.properties
          li
            | <i class="fa fa-calendar"></i> #{@product.updated_at.strftime("%B, %d, %Y")}
          li
            | <i class="fa fa-eye"></i> <a href="#">#{@product.impressionist_count} Orang Melihat</a>
          li
            | <i class="fa fa-comments"></i> <a href="#">#{@comments_size} Komentar</a>
          li
            | <i class="fa fa-heart"></i> <a href="#">#{@favorites_size} Orang Menyimpan</a>
      = render 'shareds/products/item_detail'
  .content
    .col-xs-12
      = render 'shareds/products/review'
