- if @featured.present?
	section.grey
		.container
			.row
				.col-md-12.col-xs-12
					h2 
						| Featured Shop
				.col-md-6.col-xs-12
					.col-xs-2.avatar-author
						= image_tag @featured.try(:profile).try(:avatar).url(:medium)
					.col-xs-10
						p
							| This week's featured shop is 
							= link_to @featured.try(:profile).try(:full_name), user_path(@featured)
						= link_to 'View Shop', user_path(@featured), class: "btn btn-info"
				.col-md-6.col-xs-12
					.row
						.featured-section
							- @featured_products.each do |resource|
								div class="col-xs-2 author-item pull-right" data-toggle="popover" title="#{resource.title}"
									.tooltips-content
										.tooltips-image
											= image_tag resource.try(:galleries).try(:first).try(:file).url(:small)
										.tooltips-tag
											= resource.try(:parent_category).try(:name)
										span.tooltips-price
											= get_currency(resource.price) if resource.price.present?
									= link_to product_path(resource), class: "item" do
										= image_tag resource.try(:galleries).try(:first).try(:file).url(:thumb)
					.pull-right
						| Other Products 
						= link_to @featured.try(:profile).try(:full_name), user_path(@featured)
