<script type="text/javascript">
  $(function(){
    $('#maps').gmap3({
      map:{
        options:{
          center:[<%= @product.address.latitude %>, <%= @product.address.longitude %>],
          zoom: 15,
          scrollwheel: false
        }
      },
      marker:{
        values:[
          {latLng:[<%= @product.address.latitude %>, <%= @product.address.longitude %>], data:"<b><%= @profile.full_name %></b><br><%= @product.address.place_info %>"}
        ],
        options:{
          draggable: false,
          scrollwheel: false
        },
        events:{
          mouseover: function(marker, event, context){
            var map = $(this).gmap3("get"),
            infowindow = $(this).gmap3({get:{name:"infowindow"}});
            if (infowindow){
              infowindow.open(map, marker);
              infowindow.setContent(context.data);
            } else {
              $(this).gmap3({
                infowindow:{
                  anchor:marker,
                  options:{content: context.data}
                }
              });
            }
          },
          mouseout: function(){
            var infowindow = $(this).gmap3({get:{name:"infowindow"}});
            if (infowindow){
              infowindow.close();
            }
          }
        }
      }
    });
  });
</script>