section.new-product-wrapper.white.shadow
  .container
    .row
      .col-md-12
        h1 Item Pilihan Untuk Anda
        p.desc-section Dibawah ini adalah beberapa macam item pilihan hanya untuk anda
        ul
          - @products.each do |resource|
            = render 'products/product', resource: resource
        hr
      .col-md-12
        = link_to 'Selengkapnya', products_path, class: 'btn btn-lg btn-more'