.row
  .col-xs-12
    h4 align="center"
      | (#{@reviews.count}) Review dan Rating
    hr
  .col-xs-12
    - if current_user.present?
      - if current_user && @product.can_rate?(current_user, 'happiness')
        .break
        .row.section-comments-group
          = form_for :rate, url: reviews_product_path(@product), id: 'rate-user' do |f|
            = f.hidden_field :klass, required: true 
            = f.hidden_field :id, required: true 
            = f.hidden_field :score, required: true 
            = f.hidden_field :dimension, required: true
            .col-sm-3
              center
                div class="user-image-cycle float-none margin-none"
                  = image_tag current_user.profile.avatar(:thumb), class: 'host-profile-image'
                br
                span class="text-muted"
                  = current_user.profile.full_name

            .col-sm-9
              .form-group
                = rating_for @product, "happiness", :star => 6
              .form-group
                = f.text_area :review, class: 'form-control', rows: 2
              = f.submit :submit, class: 'btn btn-info', value: "Rate!"
    - else
      center
        small
          | Anda Harus <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"> Masuk</a> atau <a href="#signup" data-toggle="modal" data-target=".bs-modal-sm2">Daftar</a> Terlebih dahulu untuk memberikan komentar disini
      .break
      .break

    .rating-star
      - default_rating = imdb_style_rating(@product, 'happiness')
      center
        = default_rating if @reviews.present?
    br
    br
    - @reviews.each do |rate|
      .row.section-comments-group
        .col-sm-3
          center
            div class="user-image-cycle float-none margin-none"
              = image_tag rate.rater.profile.avatar(:thumb), class: 'host-profile-image'
            br
            | <span class="text-muted">#{rate.rater.profile.full_name}</span>
        .col-sm-9
          - if rate.rater == current_user
            | <div class="pull-right">#{link_to 'Delete', delete_rate_product_path(id: params[:id], rate_id: rate.id), method: :delete, data: {confirm: 'Are You Sure To Delete This Rate'}}</div>
          div
            = rating_user(rate.score)
          br
          p class="well"
            = rate.review
          - address = "#{rate.rater.address.simple_place_info}"
          | <small class="text-muted">Dibuat #{rate.created_at.strftime('%d %b %Y')}, Dari #{address}</small>
          hr
