- user = @product.try(:user)
- profile = user.try(:profile)
- contact = user.try(:contact)

.price-lg
  i class="fa fa-bookmark-o"
  = get_currency(@product.price) if @product.price.present?
- if current_user
  = link_to '<i class="fa fa-star"></i> Simpan Iklan'.html_safe, wishlist_favorites_path(id: @product.id, type: @product.class), method: 'get', class: "btn btn-info full-width btn-lg"
- else
  a href="#signin" class= "btn btn-info btn-lg full-width" data-toggle="modal" data-target=".bs-modal-sm"
    | <i class="fa fa-star"></i> Simpan Iklan
.break
.card.hovercard.sidebar-show
  .cardheader style='background-image: url("#{@merchant.banner.url(:large)}");'
  = link_to user_path(user)
    .avatar
      = image_tag @profile.avatar.url(:small)
  .info
    h3
      = link_to user_path(user)
        = profile.try(:full_name)
    .color-grey Bergabung Sejak #{@product.created_at.strftime("%b, %d, %Y")}
    hr
    ul
      - if contact.handphone.present?
        li
          | <i class="fa fa-phone"></i>
          | <span>#{contact.try(:handphone)}</span>
      - if contact.pin.present?
        li
          = image_tag 'bbm.png'
          | &nbsp;<span>#{contact.try(:pin)}</span>
    div class= "btn btn-success btn-lg btn-question-chat"
      | Kontak Penjual

.sidebar-show
  .info
    center
      b PETA LOKASI
    .break
    #maps.gmap3

.col-md-12
  .row
    button.btn.btn-danger.btn-block.btn-lg data-toggle='modal' data-target="#modal-report"
      i.fa.fa-flag-o
      | Laporkan

= render 'shareds/modal_report', resource: resource







