.col-md-12
  .simple-top-search
    .row
      .col-md-3
        h6 Kondisi
        - value_condition = params[:condition].present? ? params[:condition] : ''
        - @category = CategoryProduct.to_a
        = select_tag :condition, options_for_select(@category, value_condition), prompt: 'Pilih Kondisi', class: 'form-control select2'
      .col-md-3
        h6 Kota/Kabupaten
        - value_city = params[:city].present? ? params[:city] : ''
        = select_tag :city, options_for_select(@cities, value_city), prompt: 'Pilih Kota/Kabupaten', class: 'form-control select2 cities_select_tag'
      .col-md-3
        h6 Kecamatan
        .district-container
          - districts = params[:city] ? Region.find_by(name: value_city).try(:children).pluck(:name) || [] : Region.none rescue []
          = select_tag :district, options_for_select(districts, params[:district]), prompt: 'Pilih Kecamatan', class: 'form-control select2'
      .col-md-3
        h6 Urutkan
        .input-group
          - value_sort_by = params[:sort_by].present? ? params[:sort_by] : ''
          = select_tag :sort_by, options_for_select(sort_by, value_sort_by), prompt: 'Diurutkan', class: 'form-control select2'
          .input-group-btn
            button class="btn btn-info" type="submit"
              | <i class="fa fa-search"></i></button>
  .slider-price-box
    .row
      .col-md-12
        .layout-slider
          - start_price = @start_price ? '5000' : params[:price_range].split(";")[0] rescue '5000'
          - end_price = @end_price ? '10000000' : params[:price_range].split(";")[1] rescue '10000000'
          = text_field_tag :price_range, "#{start_price};#{end_price}", id: "Slider2", type: "slider"
