section.grey.shadow
  h1 Bagaimana Cara Kerjanya?
  p.desc-section Dibawah ini menjelaskan beberapa fiture yang ada di Oshop Market
  .container
    .row.service
      .col-xs-12.col-sm-6.col-md-3
        .box
          .box-icon
            span class="fa fa-map-marker fa-4x"
          .info
            h4.text-center Geo Search
            p Cari barang bekas favorit yang terdekat di sekitar Anda!
      .col-xs-12.col-sm-6.col-md-3
        .box
          .box-icon
            span class="fa fa-4x fa-money"
          .info
            h4.text-center Penawaran
            p Anda dapat menawar barang yang ingin Anda beli, secara langsung!
      .col-xs-12.col-sm-6.col-md-3
        .box
          .box-icon
            span class="fa fa-hand-lizard-o fa-4x"
          .info
            h4.text-center Tukar Menukar
            p
              | look on our impressive collections and choose your desired item
      .col-xs-12.col-sm-6.col-md-3
        .box
          .box-icon
            span class="fa fa-legal fa-4x"
          .info
            h4.text-center Gadai/Lelang
            p Gadaikan barang Anda lewat rekanan kami yang terpercaya.

