- user = resource.user
- profile = user.profile
li.li-wdt-33-user
  .box-img-wrapper
    .label
      i class="fa fa-tag" 
      = resource.category
    = image_tag resource.try(:galleries).try(:first).try(:file).url(:medium), class: 'img-responsive'
    .section-whistlist
      - if current_user.present?
        span.status-whistlist
          = checking_wishlist(resource.id, current_user.id, wishlist_favorites_path(id: resource.id, type: resource.class)).html_safe

  .box-desc-bottom
    .title
      = link_to "#{resource.title}", product_path(resource)
    .col-xs-6
      .address.pull-left
        | <i class="fa fa-tags"></i>#{resource.parent_category.name}
    .col-xs-6
      .price.pull-right
        = get_currency(resource.price) if resource.price.present?
