section.new-product-front
  .container
    .row
      .col-md-8.col-md-offset-2
        .title-top-big
          span
            i.fa.fa-inbox
          span Pasang Iklan Baru Anda

    .row
      .col-md-8.col-md-offset-2
        = form_for @product, url: userpage_products_path, method: 'post' do |f|
          = render 'products/form', f: f
          - if current_user
            button.btn.btn-info.btn-lg.full-width type="submit"
              | IKLANKAN
          - else
             a href="#signin" class= "btn btn-info btn-lg full-width" data-toggle="modal" data-target=".bs-modal-sm"
              | IKLANKAN
