- resource = @product

section
  .container
    .row
      .col-md-12.breadcrumb
        = render_breadcrumbs
      .col-md-8
        = render 'shareds/products/detail'
      .col-md-4
        = render 'shareds/products/side_product', resource: resource
= render 'shareds/form_contact'
= render "shareds/chat" if @product.present?
