= f.fields_for :profile do |profile|
  = f.fields_for :address do |address|
    = f.fields_for :contact do |contact|
      = render partial: 'backend/users/form', locals: {f: f, profile: profile}
      .break
      = f.fields_for :merchant_info do |merchant_info|
        .break
        = render partial: 'backend/users/form_merchant_info', locals: {merchant_info: merchant_info} 
      .break
      = render partial: 'backend/users/form_address', locals: {address: address}
      .break
      = render partial: 'backend/users/form_contact', locals: {contact: contact} 
