.col-md-12
  = render 'backend/shareds/search_form_user'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Merchant', button_name: 'Merchant', add_method: true}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%"
                  .check_all_box 
                    = check_box_tag :check_all
                th Avatar
                th Code
                th Username
                th Status
                th Featured
                th Email
                th Created At
                th Action
            tbody
              - @collection.each_with_index do |resource, index|
                tr
                  td
                    = check_box_tag "ids[]", resource.id
                  td
                    = image_tag "#{resource.profile.avatar.url(:thumb)}", class: 'thumb'
                  td
                    = resource.code
                  td
                    = resource.username
                  td
                    = resource.featured?
                  td
                    = resource.verified?
                  td
                    | <a href="mailto:#{resource.email}">#{resource.email}</a>
                  td
                    = resource.try(:created_at).strftime("%H:%M %B, %d, %Y")
                  td
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.username}", no_show: false }

        .widget-foot
          .pull-right
            = paginate @collection
          .clearfix
