doctype html
html
  head
    = render 'shareds/setting'

    - if params[:controller] == 'products' && params[:action] == 'show' || params[:controller] == 'users' && params[:action] == 'show'
      | <script type="text/javascript">var switchTo5x=true;</script>
      | <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      | <script type="text/javascript">stLight.options({publisher: "85a5e2b6-1198-48e4-8cea-a5291ba2d1a6", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  body
  	= render 'shareds/top_menu'
    = yield
    = render 'shareds/footer'
	= javascript_include_tag 'application'
  script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"
  - if params[:controller] == 'guest_books'
    = render 'shareds/gmap_js'
  - elsif params[:controller] == 'products' && params[:action] == 'show'
    = render 'shareds/products/gmap_show'