doctype html
html
  head
    = render 'shareds/setting'
    = stylesheet_link_tag 'blog'
    = csrf_meta_tags
  body
  	= render 'shareds/blogs/top_bar'
    section class="grey"
      div class="container"
        = yield
    = render 'shareds/blogs/footer'
	= javascript_include_tag 'blog'