doctype html
html
  head
    = render 'shareds/setting'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  body
    = render 'shareds/top_menu'
    section.grey.section-user
      .container
        .break
        .row
          .col-md-3
            .row
              .col-md-12
                = render 'userpage/shareds/sidebar'
          .col-md-9
            h3.title-manage #{collection.name rescue 'Dashboard' unless params[:controller] == 'userpage/merchants' || params[:controller] == 'userpage/members'}
            small
              = render_breadcrumbs
            hr
            = yield
    = render 'shareds/footer'
  = javascript_include_tag 'application'
