ul class="nav nav-tabs" role="tablist"
  li role="presentation" class="active"
    | <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Data Personal</a></li>
  li role="presentation"
    | <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Kontak</a></li>
  li role="presentation"
    | <a href="#address" aria-controls="address" role="tab" data-toggle="tab">Alamat</a></li>

= f.fields_for :profile do |profile|
  = f.fields_for :address do |address|
    = f.fields_for :contact do |contact|
      .tab-content
        = render partial: 'userpage/users/form_user', locals: {f: f, profile: profile}
        = render partial: 'userpage/users/form_contact', locals: {contact: contact}
        = render partial: 'userpage/users/form_address', locals: {address: address}

