- if params[:node].present?
  = select_tag "#{params[:node]}[address_attributes][district]", options_for_select(@districts.alfa.pluck(:name)), {prompt: 'Pilih Kecamatan', class: 'form-control select2 district_select', 'data-node' => "#{params[:node]}", required: true} 
- else
  = select_tag :district, options_for_select(@districts.alfa.pluck(:name)), {prompt: 'Pilih Kecamatan', class: 'form-control select2 district_select'}