= select_tag "#{params[:node]}[sub_category_id]", options_for_select(@sub_categories.alfa.map{|c| [c.name, c.id]}), {prompt: 'Pilih Sub Kategori', class: 'form-control select2 choice-sub-category-select', 'data-node' => "#{params[:node]}"} 