- if params[:node].present?
  = select_tag "#{params[:node]}[address_attributes][village]", options_for_select(@villages.alfa.pluck(:name)), {prompt: 'Pilih Desa', class: 'form-control select2', 'data-node' => "#{params[:node]}"} 
- else
  = select_tag :village, options_for_select(@villages.alfa.pluck(:name)), {prompt: 'Pilih Desa', class: 'form-control select2'}