= form_for [:userpage, resource], method: form_method, html: {class: 'form'} do |f|
  = render partial: 'form', locals: {f: f}
  .buttons
    button class="btn btn-sm btn-info btn-lg" type="submit" SIMPAN