- @user = current_user    
.sidebar-show
  .row
    .col-md-12
      .box-profile
        .avatar-author
          = image_tag @user.try(:profile).try(:avatar).url(:medium)
        h4
          = link_to "<i class='fa fa-home'></i> #{@user.the_name?}".html_safe, userpage_dashboard_path
        div
          | <small>Bergabung Sejak #{@user.created_at.strftime("%B, %d, %Y") if @user.created_at.present?} </small>
        .break
      hr
      span.verified.pull-left
        = @user.verified? if current_user.merchant?
      = link_to '<i class="fa fa-wrench"></i> Pengaturan'.html_safe, user_edit_url(current_user.type, current_user), class: "btn btn-default pull-right btn-question btn-xs"
      .row  
        .col-md-12
          .section-menu-user
            ul
              li = link_to 'MENU', userpage_dashboard_path 
              li = link_to 'Beranda', userpage_dashboard_path, class: "#{active_sidebar_active?(:home, :dashboard)}" 
              li = link_to 'Iklan Saya', userpage_products_path, class: "#{active_sidebar_active?(:products, :all)}" 
              li = link_to 'Iklan Terfavorit', userpage_favorites_path, class: "#{active_sidebar_active?(:favorites, :all)}" 
              li = link_to 'Pesan', userpage_inquiries_path, class: "#{active_sidebar_active?(:inquiries, :all)}"
              li = link_to 'Pengaturan', user_edit_url(current_user.type, current_user), class: "#{active_sidebar_active?(:members, :edit)} || #{active_sidebar_active?(:merchants, :edit)}" 
    - if current_user.merchant?
      .col-md-12
        h5 Kilasan
        .small
          ul class="properties"
            li
              | Iklan: <a href="#">#{@user.products_size || 0} Iklan</a>
            li
              | Telah di Lihat: <a href="#">#{@user.impressionist_count || 0} Orang</a>
            li 
              | Dijadikan Favorit: <a href="#">#{@user.favorites_size || 0} Orang</a>
    .col-md-12
      h5 Contact Us
      .small
        ul class="properties"
          li
            | Phone: <a href="#">#{@user.contact.phone}</a>
          li
            | Handphone: <a href="#">#{@user.contact.handphone}</a>
          li
            | PIN: <a href="#" class="uppercase">#{@user.contact.pin}</a>
          li
            | <a href="#{@user.contact.facebook}">Facebook</a>
          li
            | <a href="#{@user.contact.twitter}">Twitter</a>
          li
            | Website: <a href="#{@user.contact.website}">#{@user.contact.website}</a>
          li
            | Email: <a href="mailto:#{@user.email}">#{@user.email}</a>
    
